
.ftf-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.ftf-heading{
  font-size: 32px;
  font-weight: bold;
  color: gray("700");
  margin-top: 40px;
}

.ftf-txt{
  color: gray("500");
}