.apd-container {
  --f7-card-margin-horizontal: 15px;
  --f7-card-margin-vertical: 15px;
  max-width: 600px;
  margin: 0 auto;
}


.apd-hero {
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray("200");
  width: 100%;
}




.apd-card-title {
  font-size: 16px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 2px;

}

.apd-card-desc {
  color: #8F8E94;
}

.apd-card-padding {
  padding: 10px 12px;
}

.apd-card-footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid gray("200");

}




.apd-pass-error{
  font-size: 13px;
  padding: 10px;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%;
}

.apd-quote {
  .label {
    font-size: 11px;
    color: #4D4D4D;
  }

  .number {
    margin-top: 3px;
    font-size: 13px;
    line-height: 12px;
    color: #4D4D4D;
    font-weight: 600;
  }

  @media (max-width: 320px) {
    .label {
      font-size: 9px;
    }

    .number {
      font-size: 11px;
    }
  }
}


.apd-btn {
  font-size: 12px;
  white-space: nowrap;
  /* identical to box height */
  padding: 4px 10px;
  color: #B0006D;
  position: relative;
  z-index: 10;
  border-radius: 3px;
  border: 1px solid #B0006D;

  @include hover-focus-active() {
    background: gray("100");
    color: #B0006D;
    border: 1px solid #B0006D;
  }
}

.apd-hero-logo {
  width: 46px;
  height: 46px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.apd-card-hero {
  margin-top: -30px;

  .card-content {
    padding: 10px 10px;
  }
}

.apd-stat {
  text-align: center;
  padding: 0 5px;
}



.apd-stat-icon {
  margin-bottom: 10px;
}


.apd-stat-txt {
  font-size: 14px;
  text-align: center;
  color: #4D4D4D;
}

.card-content-padding-sm {
  // padding: 15px 15px;
  @extend .card-content-padding;
}


.apd-people-item {
  padding-right: 15px;

  .item-inner {
    padding-right: 0;
  }
}

.input-clear{
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 2px;
  z-index: 1;
  img{
    opacity: 0.6;
  }

  + input{
    padding-right: 30px !important;
  }
}

.apd-stat-container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    height: 90%;
    width: 1px;
    background: gray("200");
    left: 50%;
    top: 5%;
  }
}

.apd-card-head {
  font-size: 16px;
  line-height: 14px;
  color: #4D4D4D;
  font-weight: 600;
  margin-bottom: 10px;
}

.apd-card-p {
  font-size: 14px;
  color: #8F8E94;
}

.popup-gallery {
  .embed-responsive {
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.apd-people {
  font-size: 14px;
}

.apd-people-left {
  min-width: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  .name {}

  .phone {
    font-size: 12px;
    color: #8F8E94
  }
}

.apd-people-after {
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;

  .money {
    font-size: 15px;
  }
}

.apd-payment {
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
  white-space: nowrap;
  display: block;

  .apd-payment-item:not(:last-child) {
    margin-right: 10px;
  }
}

.apd-payment-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  position: relative
}



.apd-payment-label {
  width: 100%;
  background: rgba(#B0006D, 0.1);
  border-radius: 5px;
  padding: 10px 15px 10px;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  display: flex;
  align-items: center;
}

.apd-payment-mo {
  display: block;
  font-size: 15px;
  color: gray("900");
  line-height: 1;
  pointer-events: none;
  user-select: none;
}




.apd-payment-item input[type="radio"] {
  display: none
}

.apd-payment-item input[type="radio"]:checked~.apd-payment-label {
  background: rgba(#B0006D, 0.6);


}

.apd-payment-item input[type="radio"]:checked~.apd-payment-label .apd-payment-mo {
  color: rgba(255, 255, 255, 0.9);
}








.apd-pass {
  text-align: center;
  padding: 20px 0 10px;
  // background: gray("200");

  input {
    // width: 100%;
    // height: 100px;
    // padding: 20px;
    // font-size: 20px;
    // border: none;
    // text-align: center;
   
  }

}

.apd-pass-sym{
  width: 180px;
  padding: 20px 30px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 50px;
  border: 1px solid gray("300");

  .sym{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray("300");
    &.is-active{
      background: gray("700");
    }
  }
}

.keyboardContainer {
  max-width: 600px;
  margin: 0 auto;

}

/*
  Theme: numeric
*/
.numeric-theme {
  max-width: 600px;
  margin: 0 auto;
}

.numeric-theme+.simple-keyboard-preview {
  max-width: 600px;
}

.simple-keyboard.hg-theme-default.numeric-theme .hg-button.hg-standardBtn.hg-button-at {
  max-width: none;
}



.keyboardContainer {
  .apd-keyboard {
    padding: 0;
    overflow: hidden;
    border-top: 1px solid gray("300");
    border-bottom: 1px solid gray("300");

    .hg-button-backspace {
      background: transparent !important;
    }

    .hg-row:not(:last-child) {
      margin-bottom: 0;
    }

    .hg-row:last-child {
      justify-content: flex-end;
    }

    .hg-theme-default .hg-button {}

    .hg-row .hg-button-container,
    .hg-row .hg-button:not(:last-child) {
      margin-right: 0;
    }

    .hg-row .hg-button {
      max-width: percentage(1/3);
      width: percentage(1/3);
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      // font-weight: 600;
      color: gray("800");
      background: white;
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
      }

      &:after {
        width: 1px;
        height: 100%;
        left: -1px;
        top: 0;
        background: gray("300");
      }

      &:before {
        width: 100%;
        height: 1px;
        bottom: -1px;
        left: 0;
        background: gray("300");
      }
    }
  }
}



.apd-status-icon{
  margin-bottom: 15px;
}
.apd-status{
  background-color: #325340;
  min-height: 150px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,0.9);
}

.apd-status-content{

}