
.ne-items {
  .ne-item:not(:last-child) {
    &:after {
      background: gray("200");
    }
  }
}

.ne-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 0;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: transparent;
    left: 0;
    bottom: 0;
  }

  &.is-feature {
    flex-flow: row wrap;

    .ne-title {
      font-size: 18px;
    }
  }


}

.ne-item-imglarge {
  flex: 1 0 100%;
  margin-bottom: 15px;

  img {
    border-radius: $border-radius;
  }
}

.ne-item-content {
  flex: 1;
  padding-right: 10px;
}

.ne-tag, .ne-time {
  font-size: 12px;

}

.ne-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.ne-tag {
  margin-bottom: 3px;
  color: $momo;
}

.ne-time {
  margin-top: 10px;
  color: gray("500")
}

.ne-item-image {
  width: 80px;
  position: relative;
  height: 80px;

  img {
    border-radius: $border-radius;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}


.ne-category {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  border-bottom: 1px solid gray("200");
  max-width: map_get($container-max-widths, "sm");
  margin: 0 auto;

  top: 0;
  background: white;
  z-index: $zindex-fixed;

  position: sticky;

  transform: translate3d(0, 0, 0);
  transition: transform .5s;
  will-change: transform;


  .is-scrolldown & {
    transform: translate3d(0, -100%, 0);
  }
}

.ne-category-item {
  display: inline-block;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  position: relative;
  color: gray("700");

  &.is-active {
      color: color("momo");

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: color("momo");
    }
  }
}



.blog{
  padding-top: 20px;
}

.post-title{
}

.post-byline{
  font-size: 12px;
  color: gray("500");
  margin-bottom: 1.5em;
}

$post-padding: 14px;

.post-header{
  padding-left: $post-padding;
  padding-right: $post-padding;
}

.post-header-image{
  margin-left: -16px + -$post-padding;
  margin-right: -16px  -$post-padding;
  margin-bottom: 15px;
}
.post-actions{
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 0;
  .list-inline-item:not(:last-child) {
    margin-right: 0.3rem;
  }
}


.post-desc{
  font-size: 13px;
  color: gray("600");
  font-weight: normal;
  line-height: 1.6;  
  border-bottom: 1px solid gray("200");
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.post-body{
 
}

.post-content{
  padding: 5px $post-padding;
  font-size: 16px;
  line-height: 1.6;
  img{
    max-width: 100% !important;
    margin: 0 auto !important;
    height: auto !important;
  }
}


.blog-progress {
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999;

  .progress{
    background: rgba(255,255,255,0.1);
    border-radius: 0;
  }

  .progress-bar{
    transition: none;
    background: rgba(255,255,255,0.4);
  }
}


.post-helpful{
  padding: 13px 16px 16px;
  background-color: #f8f8f8;
  border-radius: 6px;
}