.izlu-full {


    .izlu-favor {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.izlu-favor {
    // @extend .shadow-sm;
    // border: 1px solid gray("200");


    // overflow: hidden;
    flex: 0 0 280px;
    max-width: 280px;

    .izlu-item-name {
        margin-top: 3px;

    }

    .izlu-favor-name {
        font-weight: 700;
    }


    .izlu-item-name {

        @include text-row(2, 38);
        height: 38px;
    }

    .izlu-new-content {
        padding: 10px 15px 0 0;
    }
}

.izlu-favor-img {
    border-radius: $border-radius;
}

.izlu-favor-status {
    margin-top: 10px;
    // padding-top: 8px;
    // padding-left: 5px;
    // border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: gray("600");
    font-size: 13px;

    .price {
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: underline;
        -webkit-text-decoration-color: #fb96c0;
        text-decoration-color: #fb96c0;
        @extend .font-heading;
        // color: $momo;
        color: gray("900");
    }

    svg {
        color: rgba($momo, 0.5);
        font-size: 0.9em;
    }

    .people {
        color: $momo;
    }
}


.izlu-favor-note {
    // font-size: 14px;
    color: gray("900");
    margin-bottom: 5px;
    font-size: 12px;

    &.yellow {
        color: #D67902;
    }

    &.red {
        color: #e60300
    }
}

.favor-present {
    padding: 15px 15px 15px;
    // background: $momo-light;
    background: white;
    padding-top: 50px;
}

.favor-title {
    font-size: 26px;
    // color: $momo3;
    font-weight: 700;
    margin-bottom: 20px;
}


.favor-desc {
    font-size: 14px;
    color: gray("600");
    // font-weight: 600;
}

.favor-splash {
    width: 20px;
    height: 1px;
    background: gray("400");
    display: block;
    // margin-top: 30px;
}


.favor-hero {
    position: relative;
    background: gray("700");
    width: 100%;
}

.favor-hero-img {
    position: relative;

    max-height: calc(100vh - 250px);
    min-height: 350px;
    width: 100%;
    display: block;
    padding: 0;

    @media (min-width: 414px) {
        max-height: calc(100vh - 350px);
        min-height: 400px;
    }
}

.favor-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: #F2F2F2 ;
    background-position: 50% 61.803398875%;
}




.favor-hero-brand {
    width: 50px;
    height: 50px;
    border-radius: 3px;

    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.favor-hero-avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    left: 50%;
    bottom: -35px;
    margin-left: -35px;
    @extend .shadow-sm;
    border: 1px solid gray("300");

}

.favor-brand {
    background: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    .favor-title {
        color: white;
        margin-bottom: 2px;
    }

    .favor-desc {
        font-size: 14px;
        @include color-opacity(0.8);
    }
}

.brand-meta-sub {
    // color: rgba(255,255,255,0.8);
    // color: rgba(255, 255, 255, 0.8);
    @include color-opacity(0.8);
    font-size: 13px;
    margin-top: 2px;
    @include text-row(2, 38);
}

.brand-meta-name {
    font-weight: bold;
    font-size: 15px;
    color: white;
}


.favor-section-title {
    margin-bottom: 15px;
    font-weight: 700;
}

.favor-section {
    // margin-bottom: 25px;
    // padding-bottom: 20px;
    margin-bottom: 30px;
}

.izlu-favor-name {
    // margin-top: 10px;
    margin-bottom: 5px;
    color: $momo3;
    @extend .h3;
}

.izlu-favor-desc {
    color: gray("700");
    line-height: 1.3;
    @include text-row(3, 57);

}


.favor-hero-gra {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, #000000 100%);
    opacity: 1;
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0px;
    bottom: 0px;
}


.izlu-favor-ove {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    word-wrap: break-word;
    line-height: 1.1;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    // text-shadow: 0px 0px 6px rgba(150, 150, 150, 0.49);
    @extend .font-heading;
}

.izlu-favor-btn {
    color: $momo3;
    font-weight: bold;
    margin-top: 10px;
    display: block;

    text-decoration: underline;
    -webkit-text-decoration-color: #fb96c0;
    text-decoration-color: #fb96c0;
}



.favor-people {


    .item {
        // border: 1px solid gray("300");
        background: darken(gray("100"), 3%);
        border-radius: 3px;
        margin-bottom: 6px;
        padding: 5px 10px;

        &:nth-child(odd) {
            background: rgba(gray("100"), 0.8);
        }
    }

    .name {
        // font-size: 13px;
        color: gray("800");
        margin-bottom: 2px;
    }

    .phone {
        font-size: 12px;
        color: gray("500")
    }

    .money {
        font-weight: bold;
        @extend .font-heading;
    }
}

.favor-people-name {
    color: gray("700");
    margin-right: 10px;

}



.favor-total-price {
    padding-top: 10px;
    border-top: 1px solid gray("200");
    border-bottom: 1px solid gray("200");
    padding-bottom: 10px;
    margin-top: 15px;

    // font-size: 1px;
    .label {
        color: $momo;

        font-size: 13px;
        // font-weight: bold;
        // font-weight: bold;
    }

    .price {
        @extend .font-heading;
        @include rfs(24px);
        font-weight: bold;
        text-decoration: underline;
        -webkit-text-decoration-color: #fb96c0;
        text-decoration-color: #fb96c0;

        span {
            font-size: 0.6em;
            color: gray("600");
            font-weight: normal;
        }


    }
}


body {
    position: relative;
}



.brand-nav {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
    flex-flow: row nowrap;
    margin-bottom: 25px;
    margin-top: 5px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 20;

    .nav-item {
        flex: 0 0 auto;
        min-width: 0;
        padding-right: 20px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: gray("100");
        }
    }

    .nav-link {
        padding: 12px 0 8px;
        font-weight: bold;
        z-index: 2;
        position: relative;
        border-bottom: 2px solid transparent;
        color: gray("500");

        &.active {
            color: gray("900");
            border-bottom-color: gray("900");
        }
    }
}

.brand-list-item {

    // line-height: 1.5;
    .item-title {
        line-height: 1.5;
    }

}

@mixin button-outline-theme($color, $border, $background) {
    color: $color;
    background-color: $background;
    border: 1px solid $border;
}

.btn-more {
    // Button outline
}

.btn-outline {
    font-weight: bold;
    @include button-outline-theme($momo, $momo, white);

    @include hover-focus-active {
        color: $momo;
        border-color: $momo;
        background: gray("100");
    }
}

.favor-hero {
    margin-bottom: 30px;
}