.content-i {
  padding: 50px;
}

.slot-machine-h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}


.slot-machine-container {
  width: 100%;
  //height: 284px;
  background: #393265;
  border-radius: 15px;
  // border: 5px solid #ffed5b;
  background: linear-gradient(to bottom, rgba(255, 217, 128, 1) 0%, rgba(255, 232, 141, 1) 36%, rgba(172, 43, 0, 1) 49%, rgba(222, 137, 0, 1) 76%, rgba(222, 137, 0, 1) 100%);
  box-shadow: 0px 0px 40px 0px rgba(255, 240, 0, 1);
  padding: 6px;
}

.slot-machine-bg {
  // background: #2a254e;
  background: linear-gradient(to bottom, rgba(0, 127, 238, 1) 0%, rgba(0, 52, 155, 1) 36%, rgba(0, 7, 98, 1) 49%, rgba(0, 126, 237, 1) 76%, rgba(0, 26, 54, 1) 100%);
  padding: 10px;
  border-radius: 10px;

  //
  //display: flex;
  //flex-flow: row nowrap;
  .ezslots {
    display: flex;
    flex-flow: row nowrap;
    margin-left: -5px;
    margin-right: -5px;

    >.window {
      margin: 0 5px;
      overflow: hidden;
      display: inline-block;
      flex: 1 1 auto;
      max-width: 100%;
      border-radius: 5px;
      background: #d61d71;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif;
      color: white
    }
  }
}

.slot-machine-link {
  text-align: center;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
  font-size: 20px;
  font-weight: 600;

  @include hover-focus() {
    color: color("yellow");
    text-decoration: none;
  }
}

.ezslots>.window {
  overflow: hidden;
  display: inline-block;
}

.ezslots>.window>.slider>.symbol {
  text-align: center;
  display: table;
}

.ezslots>.window>.slider>.symbol>.content {
  padding: 0px;
  margin: 0px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.btn-slot-machine {
  background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
  border-radius: 15px;
  border: 3px solid rgba(255, 232, 141, 1);
  box-shadow: 0px 0px 40px 0px rgba(255, 240, 0, 1);
  font-size: 45px;
  font-weight: bold;
  padding: 15px 60px;
  outline: none;

  @include hover-focus-active() {
    background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
    background-position: right center;
    border: 3px solid rgba(255, 232, 141, 1);
    outline: none;
    box-shadow: 0px 0px 40px 0px rgba(255, 240, 0, 1);
  }
}

.btn-slot-submit {
  background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
  border-radius: 15px;
  border: 3px solid rgba(255, 232, 141, 1);
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  outline: none;

  @include hover-focus-active() {
    background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
    background-position: right center;
    border: 3px solid rgba(255, 232, 141, 1);
    outline: none;
  }
}

.game-container {
  background: radial-gradient(ellipse at center, rgba(18,27,112,1) 0%, rgba(8,13,65,1) 100%);
  max-width: map-get($container-max-widths, 'sm');
  margin: 0 auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  z-index: 1;
}
.forcefullwidth_wrapper_tp_banner, .game-stream{
  position: relative;
  z-index: 1;
}


.btn-slot-container {
  margin-top: 40px;
  margin-bottom: 50px;
}

table.dataTable {
  border-collapse: collapse !important;
}

.table tfoot th,
.table thead th {
  font-size: 14px;
  font-weight: bold;
  color: color("secondary");
}

.modal-slot-machine {
  .modal-content {
    box-shadow: 0px 0px 40px 0px #fff000;
    border: 1px solid #fed211;
  }

  .modal-header {
    background: #fed211;
    padding: 10px 15px;
    text-align: center;

    .modal-title {
      color: black;
    }
  }

  .tab-content {
    padding: 15px 20px;
    background: white;
  }

}

@media (min-width: 992px) {}


.luckydraw-in {
  flex: 1;
}




.symbol {
  margin: 0 auto;
}



.award-zone {
  max-height: 55vh;
  overflow: auto;
  padding-top: 5px;
}

.award-zone .col-6 {
  max-width: 49.5%;
}



.momo-div {
  text-align: center;
}

.momo-div div {
  width: 28%;
  display: inline-block;
}

.fruit-image {
  width: 86px;
  /*margin-left: 26px;*/
}

.btn-slot-container-mobile {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-slot-machine {
  font-size: 22px;
  padding: 10px 36px;
}

.slot-machine-link {
  font-size: 13px;
}

.award-area-title {
  font-size: 22px;
  color: black;
  margin-top: 10px;
  border-radius: 15px;
  font-weight: 700;
  padding: 10px 10px;
  outline: 0;
}

.slot-machine-bg .ezslots>.window {
  background: white;
}


.award-item {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0 #353531;
}

.award-item img {
  width: 120px;
  height: 120px;
}

// .item-text {
//   background: gray;
//   background-image: linear-gradient(to right, #ffff82, #fdeeee);
//   border-radius: 0 0 5px 5px;
//   font-size: 15px;
// }


//GAME WINWHEEL

.quayso-disable {
  filter: grayscale(100%);
}

.winwheel-container {
  width: 340px;
  height: 340px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  position: relative;

  .winwheel {
    width: 290px;
    height: 290px;
    position: absolute;
    margin: 7.5%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 320px) {
  .winwheel-container {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    position: relative;

    .winwheel {
      width: 275px;
      height: 275px;
      position: absolute;
      margin: 7.5%;
      top: 0;
      left: 0;
    }
  }
}

#spin_button {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  transform: translate(-50%, -50%);
}














.onboarding-modal {
  .onboarding-media {
    padding-top: 20px;
    text-align: center;

    img {
      margin: 0px auto;
    }
  }

  button.close {
    position: absolute;
    top: 15px;
    right: 20px;
    float: none;
    z-index: 999;
    color: #111;
    opacity: 1;
    text-shadow: none;

    .os-icon {
      font-size: 12px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .close-label {
      margin-right: 10px;
      color: #C26C6C;
      letter-spacing: 1px;
      font-weight: $font-weight-bold;
      font-size: $font-size-base * 0.9;
    }
  }

  .onboarding-content {
    padding: 40px 50px;


    .onboarding-text {
      font-weight: $font-weight-light;
      font-size: $font-size-base * 1.1;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;

      &:last-child {
        margin-bottom: 10px;
      }
    }

  }



  form {
    text-align: left;
  }

  .onboarding-text+form {
    margin-top: 30px;
  }

  .onboarding-slider-w {
    .onboarding-slide {
      display: none;

      &:first-child {
        display: block;
      }
    }

    &.slick-initialized {
      .onboarding-slide {
        display: block;
      }
    }
  }

  &.animated {
    .onboarding-media {
      opacity: 0;
      transform: translateY(80px) scale(0.8);
      transition: all 0.5s cubic-bezier(.25, 1.1, .5, 1.35);
      transition-delay: 0.3s;
    }

    .onboarding-content {
      opacity: 0;
      transition: all 0.4s ease;
      transition-delay: 0.1s;
      transform: translateY(40px);
    }

    .onboarding-title {
      transform: translateY(40px);
      transition: all 0.5s cubic-bezier(.25, 1.1, .5, 1.35);
      transition-delay: 0.5s;
      opacity: 0;
    }

    .onboarding-text {
      transform: translateY(40px);
      transition: all 0.5s cubic-bezier(.25, 1.1, .5, 1.35);
      transition-delay: 0.6s;
      opacity: 0;
    }

    .features-list,
    form {
      transform: translateY(40px);
      transition: all 0.5s ease;
      transition-delay: 0.7s;
      opacity: 0;
    }

    .onboarding-side-by-side {
      .onboarding-content {
        transform: translateX(0px);
      }
    }
  }

  &.show {
    .onboarding-media {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    .onboarding-content {
      opacity: 1;
      transform: translateY(0);
    }

    .onboarding-title {
      opacity: 1;
      transform: translateY(0);
    }

    .onboarding-text {
      opacity: 1;
      transform: translateY(0);
    }

    .features-list,
    form {
      opacity: 1;
      transform: translateY(0);
    }

    .onboarding-side-by-side {
      .onboarding-content {
        transform: translateX(0px);
      }
    }
  }


}














/* @keyframes confettiCountdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: $strokeOffset;
  }
} */