.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 30%;
}
.modal{
  background: rgba(0,0,0,0.5)
}
.modal-backdrop{
  display: none !important;
  visibility: hidden;
}
.parcel{
  margin-bottom: 35px;
}

.parcel-bg{
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-lightmomo{
  background-color: $momo-light;
}


.banner-slider-container{
  // padding-bottom: 25px;
  overflow: hidden;
  //margin-top: $grid-gutter-width/2;
  max-width: map-get($container-max-widths, sm) ;
  margin: $grid-gutter-width/2 auto 0;
}

.banner-slider{
  overflow-x: visible !important;
  overflow-y: visible !important;
  padding: 0 10px  !important;

  > .swiper-pagination-bullets {
    bottom: -25px;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;

    }

  }
}

.banner-slider-heading{
  // font-weight: normal;
  // margin-bottom: 15px;
  // margin-top: 10px;
  margin-bottom: 0;
  font-weight: 700;
  color: gray("800");
  padding: 12px 10px 22px;
  @include rfs(18px);
}

.banner-slider-item{
  border-radius: $border-radius;
  overflow: hidden;
  
  margin: 0 5px 5px;
  border: 1px solid #eee;
  // @extend .shadow-sm;
  border: 1px solid rgba(0,0,0,0.1) ;
  border-radius: 3px ;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) ;
}



.home-menu {

}

.home-menu-icon{
  margin-bottom: 5px;
}

.home-menu-item {
  text-align: center;
  padding: 5px;
  color: gray("800");
  position: relative;
}


.izlu-container-scroll{
  margin-right: -($grid-gutter-width/2);
  margin-left: -($grid-gutter-width/2);



}
.izlu-full{
  .izlu-item{
    margin-right: 0
  }
  .izlu-item:last-child{
    margin-bottom: 0
  }
}

.izlu-container{
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  font-size: 0;
  padding-bottom: 5px; //For thanh scroll
  white-space: nowrap;
  vertical-align: top;
  .izlu-item:last-child{
    margin-right: $grid-gutter-width/2;
  }
  .izlu-item:first-child{
    margin-left: $grid-gutter-width/2;
  }
}


.izlu-item{
  flex: 0 0 150px;
  max-width: 150px;
  width: 100%;
  margin-right: 10px;
  font-size: $font-size-base;
  display: inline-block;
  white-space: initial;
  vertical-align: top;
  position: relative;
}

.izlu-item-name{
  margin-top: 10px;
  //font-size: 16px;
  //@include text-row(3,57);
  //height: 57px;

  @extend .h5;
}

.izlu-item-note{
  color: gray("600");
  font-size: 13px;
}


.izlu-new{
  @extend .shadow-sm;
  border: 1px solid gray("200");
  border-radius: $border-radius;
  overflow: hidden;
  flex: 0 0 250px;
  max-width: 250px;

  .izlu-item-name{
    margin-top: 3px;
  }


  .izlu-item-name{

    @include text-row(3,57);
    height: 57px;
  }

}

.izlu-new-content{
  padding: 10px 15px;
}

.izlu-new-eyebrow{
  color: color("momo");
  font-size: 13px;
}

.izlu-game{
  flex: 0 0 280px;
  max-width: 280px;
  position: relative;
}

.izlu-game-count{
  color: color("yellow"); 
  font-weight: bold;     
  font-size: 12px;
   line-height: 1.33341; 
  letter-spacing: -.01em;
}

.izlu-game-img{
  border-radius: 10px;
  overflow: hidden;
}

.izlu-game-title{
  margin-top: 8px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
}


.socials-list{
  font-size: 26px;
  .facebook{
    color: #3b5998;
    @include hover-focus-active(){
      color: #3b5998;
    }
  }

  .messenger{
    color: #0084ff;
    @include hover-focus-active(){
      color: #0084ff;
    }
  }

  .linkedin{
    color: #0077b5;
    @include hover-focus-active(){
      color: #0077b5;
    }
  }

  .youtube{
    color: #ff0000;
    @include hover-focus-active(){
      color: #ff0000;
    }
  }

  .normal{
    color: gray("500");
    @include hover-focus-active(){
      color:gray("500");
    }
  }
}

.download-parcel{
  padding: 20px 0;
  //background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin-bottom: 30px;
  margin-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: white;

  &:after{
    content :"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
  }

  //color: white;
  //background-image: linear-gradient(to right, #ae2070  0%, #9f1864 51%, #ae2070  100%)
}

.download-parcel-sub{
  opacity: 0.8;
}


