.promotion {
  padding: 20px 0;
}

.promotion-title {
  line-height: 1.3
}

.promotion-range {
  color: gray("500");
  font-size: 15px;
}

.promotion-content {
  font-size: 14px;
  line-height: 1.9;
  padding: 20px 0;
}

.promotion-type {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: $momo;
  margin-bottom: 5px;
}

.promotion-footer-container+.promotion-container {
  padding-bottom: 50px;
}


.promotion-footer-container {
  position: absolute;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.promotion-footer {
  border-top: 1px solid gray("100");
  background: rgba(255, 255, 255, 0.95);
  max-width: map-get($container-max-widths, 'sm');
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 6px;
}

.promotion-footer-item {
  padding: 0 7px;
  flex: 1 1 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  +.promotion-footer-item {
    margin-left: 0;
  }

}

.promotion-footer-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  // max-width: 200px;
  margin: 0 auto;
  font-size: 17px;
}


.btn-momo {
  // font-weight: bold;
}

.btn-momo-gray {
  // font-weight: bold;
  background: gray("400");
  border-color: gray("400");

  @include hover-focus-active() {
    background: gray("600");
    border-color: gray("600");
  }

}



.payment-item {
  text-align: center;
  margin-bottom: 15px;
  position: relative
}

.payment-item-label {
  width: 100%;
  border: 2px solid gray("400");
  background: white;
  border-radius: 3px;
  padding: 10px 15px 10px;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  display: flex;
  align-items: center;
}

.payment-item-mo {
  display: block;
  font-size: 17px;
  color: gray("900");
  line-height: 1;
  pointer-events: none;
  user-select: none;
}



.payment-icon-check {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  line-height: 18px;
  font-size: 8px;
  color: #fff;
  border-radius: 50%;
  background: color("blue");
  border: 2px solid #fff;
  transition: all .4s;
  transform: scale(0)
}


.payment-item input[type="radio"] {
  display: none
}

.payment-item input[type="radio"]:checked~.payment-item-label {
  border-color: color("blue");
}

.payment-item input[type="radio"]:checked~.payment-item-label .payment-icon-check {
  transform: scale(1)
}

.topbar-icon {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  @include hover-focus-active() {
    color: white;
  }
}

.promotion-momo-icon {
  display: block;

  text-align: center;
  border: 1px solid rgba(black, 0.2);
  padding: 5px 10px;
  border-radius: 6px;

  svg {
    fill: $momo;
    width: 28px;
    height: 28px;
  }
}

.list.list-style1 {
  .item-title {
    color: gray("500");
  }

  .item-after {
    color: gray("900");
  }
}
.color-cyan{
  color: #36BC99;
}





.dialog-backdrop{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 13000;
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;

  &.backdrop-active{
    opacity: 1;
    visibility: visible;
  }
}

