.sale-container {
  background: white;
  max-width: 600px;
  margin: 0 auto;
}

.sale-header {
  padding: 20px 0;
}

.sale-header-2 {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 30px;
  .sale-title {
    font-size: 16px;
    color: gray("800");
  }
  .sale-time {
    font-size: 14px;
  }
}

.sale-title {
  font-weight: 600;
  color: $momo;
  line-height: 1.35;
}

.sale-time {
  color: gray("500");
}

.sale-code {
  padding: 25px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-code-item {
  display: flex;
  flex-flow: row nowrap;
  background: #ffeef9;
  border: 1px solid #fbbccf;
  border-radius: 50px;
  padding: 8px 25px;
  align-items: center;
  .code {
    color: $momo;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }
  .copy {
    border-left: 1px solid #e0b1bf;
    padding-left: 15px;
    margin-left: 15px;
  }
}

.sale-cluster {
  padding-bottom: 20px;
}

.sale-cluster-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: gray("800");
}

.sale-cluster-content {
  color: gray("600");
  font-size: 15px;
}

.list-format {
  li {
    position: relative;
    padding-left: 21px;
    &:after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 8px;
      background: gray("700");
    }
  }
  li:not(:last-child) {
    margin-bottom: 7px;
  }
}

.js-sale-more {
  .sale-cluster-content {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: none;
      width: 100%;
      height: 40px;
      background: linear-gradient(
        rgba(255, 255, 255, 0.001),
        white
      ); /* transparent keyword is broken in Safari */
      pointer-events: none;
    }
  }
  &.active {
    .sale-cluster-content {
      &:after {
        display: block;
      }
    }
    .js-sale-more-btn {
      display: block;
    }
  }
}

.js-sale-more-btn {
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
  display: none;
  padding: 5px 0;
  color: gray("900");
  display: none;
}

.sale-footer {
  padding: 9px 6px;
  .promotion-footer-btn {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.sale-avatar-container {
  margin-top: -35px;
  z-index: 1;
  position: relative;
}

.sale-avatar {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 5px;
  border: 1px solid gray("300");
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

.list-format2 {
  counter-reset: item;

  margin: 1em 0 0.25em;
  padding: 0;
  > li {
    counter-increment: item;
    text-indent: -2em;
    list-style-type: none;
    margin: 0 0 0.75em;
    padding: 0 0 0 1.5em;
    &:before {
      content: counter(item) ".";
      display: inline-block;
      color: #2d3e50;
      font-weight: 700;
      text-align: right;
      width: 1.5em;
      padding-right: 0.1em;
      box-sizing: content-box;
    }
  }
  > li:last-child{
    margin-bottom: 0;
  }
}

.btn-more-detail{
  @include button-outline-theme(gray("600"), gray("300"), white );

  @include hover-focus(){
    color: gray("600");
    background-color: gray("100");
    border-color: gray("300");
  }
}