.cluster{
  @include rfs(17px);
  overflow: hidden;
  &.have-border{

    .cluster-item-content{


      &:after{
        content : "";
        width: 100%;
        position: absolute;;
        left: 0;
        background: gray("200");
        height: 1px;
        bottom: -1px;
      }
    }
  }

}

.cluster-item{
  display: flex;

  align-items: center;
  flex-flow: row nowrap;

  position: relative;

  .cluster-item-arrow ~ .cluster-item-content{
    padding-right: 30px;
  }


}

.cluster-item-arrow{
  font-size: 10px;
  color: gray("500");
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
}

.cluster-item-icon{
  margin-right: 15px;
  flex:  0 0 auto;
}

.cluster-item-content{
  position: relative;
  min-height: 44px;
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

}