.newsletter{
  margin-bottom: 15px;
}

.footer{
  background: #fafafa;
  padding-top: 20px;
}


.tabbar-container{
  position: absolute;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99
}

.tabbar{
  border-top: 1px solid gray("100");
  background: rgba(255,255,255,0.95);
  height: 50px;
  max-width: map-get($container-max-widths , 'sm' );
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.tabbar-item{
 
  flex: 1 1 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tabbar-search{
  .tabbar-link{
    background: gray("200");
    border-radius: 30px;
    padding: 2px 25px;
  }
}
.tabbar-link{
  display: block;
  padding: 2px 15px;
  font-size: 24px;
  color: gray("400");
  @include hover-focus-active(){
    color: gray("600");
  }
}