

.link-white{
  color: white;
  @include hover-focus-active(){
    color: white;
  }
}



.text-gray-light{
  color: gray("300")
}

.text-gray{
  color: gray("500")
}


.text-gray-dark{
  color: gray("600")
}


.font-13{
  @include font-rem(13);
}


.font-12{
  @include font-rem(12);
}


.font-11{
  @include font-rem(11);
}


.font-10{
  @include font-rem(10);
}

