
.post-body ul,
.post-body ol {
    margin-bottom: 1.25em;
    padding: 0
}

.post-body ul li,
.post-body ol li {
    list-style-type: none;
    margin: 0 0 0.5em;
    padding: 0 0 0 1.5em
}

.post-body ul li>ul,
.post-body ul li>ol,
.post-body ol li>ul,
.post-body ol li>ol {
    margin: 1em 0 0
}

.post-body ul li {
    text-indent: -0.375em
}

.post-body ul li::before {
    content: '';
    display: inline-block;
    position: relative;
    top: -0.1em;
    left: -0.875em;
    background-color: #2d3e50;
    border-radius: 50%;
    width: 6px;
    height: 6px
}

.post-body ol {
    counter-reset: item
}

.post-body ol>li {
    counter-increment: item;
    text-indent: -2em
}


