

.sidebar .topbar ~ .sidebar-content{
  //padding-top: 60px;
}

.sidebar-content{
  padding: 15px 20px 20px;
}

.sidebar-section{
  padding: 15px 0;
}

.sidebar-section-title{
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: gray("500")
}


.sidebar-section-cat{
  //text-transform: uppercase;
  margin-bottom: 8px;


  font-size: 14px;
  font-weight: bold;
  color: color("momo");
  border-bottom: 2px solid gray("200");

  position: relative;

  .total{

    font-size: 12px;
    color: gray("500");
    right: 0;
    position: absolute;
    top: 2px;
    font-weight: normal;
  }
}