.topbar {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: $zindex-fixed;
  max-width: map-get($container-max-widths, "sm");
  background: linear-gradient(89deg, color("momo") 3%, lighten(color("momo"), 5%) 98%);

  display: flex;
  flex-flow: row nowrap;

  &.topbar-white {
    background: white;
    border-bottom: 1px solid gray("200");

    .topbar-center-txt {
      color: gray("900")
    }

    .topbar-icon {
      color: color("momo")
    }
  }

}

.topbar-item {
  flex: 0 0 auto;
  min-width: 50px;
}

.topbar-left,
.topbar-right {
  font-size: 1.5rem;

}

.topbar-center {
  padding: 0 10px;
  flex: 1 1 0px;
  text-align: center;

  align-items: center;
  justify-content: center;

}

.topbar-center-txt {
  display: block;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.9);
  @include rfs(17);
}

.topbar-icon {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  @include hover-focus-active() {
    color: white;
  }
}


.topbar-momo-icon {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 12px;
  svg{
    border: 1px solid rgba(white, 0.3);
    padding: 4px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
  }
}