{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}




<div class="topbar ">

    <div class="topbar-left topbar-item">

        <div class="topbar-momo-icon">

            <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 29.29 27.32" fill="#fff">
                <g data-name="Layer 2">
                    <g data-name="Layer 1">
                        <path
                            d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                    </g>
                </g>
            </svg>

        </div>



    </div>
    <div class="topbar-center topbar-item">
        <div class="topbar-center-txt">
        </div>
    </div>
    <div class="topbar-right topbar-item">



    </div>


</div>

{% endblock %}

{% block content %}

<div class="ftf-container">
        <div class="container">
                <div class="text-center">
        
                    <div class="mb-4">
                        <img src="images/404.svg" width="200" class="img-fluid mx-auto d-block" alt="">
                    </div>
        
                    <h1 class="ftf-heading"> Page not found</h1>
                    <p class="ftf-txt">Sorry, we couldn’t find the page you’re looking for. Perhaps you’ve mistyped the URL? <br> Be
                        sure
                        to check your spelling.</p>
                    <nav>
                        <ul class=" list-unstyled">
                            <li><a href="donation.html" class="">Quay về trang chủ</a></li>
                        </ul>
                    </nav>
                </div>
              
        </div>
        
</div>





{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}

{% endblock %}