{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="ne-category">

    <a href="" class="ne-category-item is-active">

        Tin mới

    </a>

    <a href="" class="ne-category-item">

        Phổ biến

    </a>


    <a href="" class="ne-category-item">

        Khuyến mãi

    </a>

    <a href="" class="ne-category-item">

        Tin tức - sự kiện

    </a>


    <a href="" class="ne-category-item">

        Thông cáo báo chí

    </a>


    <a href="" class="ne-category-item">

        Hình ảnh - Video

    </a>

</div>

<main class="blog">
    <div class="container">
        <section class="post-header">
            <h1 class="post-title text-momo2">Hướng dẫn thanh toán hóa đơn hành chính công Đà Nẵng qua Ví MoMo</h1>


            <div class="post-byline">
                3h trước trong <a href="" class="text-momo2 text-uppercase">Khuyến mãi</a>
            </div>


            <div class="post-header-image">
                <img src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-thanh-toan-hoa-don-dn-770x370-190404104728.jpg"
                    class="img-fluid" alt="">
            </div>
        </section>


        <div class="post-body">

            <h2 class="post-desc">
                Kể từ hôm nay, những công dân, doanh nghiệp tại Đà Nẵng có thể thanh toán lệ phí thủ tục hành chính công
                đơn giản, dễ dàng và nhanh chóng thông qua Ví MoMo. Ngoài ra, với mỗi giao dịch thanh toán khách hàng
                còn được tích điểm để nâng hạng thành viên và đổi lấy các ưu đãi đặc biệt ngay trên ứng dụng.
            </h2>


            <div class="post-content">



                <ul class="list-inline socials-list  post-actions ">
                    <li class="list-inline-item">
                        <a href="" class="facebook">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-facebook"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="" class="linkedin">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-linkedin"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="" class="messenger">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-facebook-messenger"></use>
                            </svg>
                        </a>
                    </li>


                    <li class="list-inline-item">
                        <a href="" class="normal">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-envelope-circle"></use>
                            </svg>
                        </a>
                    </li>

                </ul>

                <p style="text-align:justify"><span style=">Kể&nbsp;từ hôm nay, những công dân, doanh nghiệp tại Đà Nẵng có thể thanh toán lệ phí thủ tục hành chính công đơn giản, dễ dàng và nhanh chóng thông qua Ví MoMo.&nbsp;Ngoài ra, với mỗi giao dịch thanh toán khách hàng còn được tích điểm để nâng hạng thành viên và đổi lấy các ưu đãi đặc biệt ngay trên ứng dụng.</span><span
                        style=">
                        <o:p></o:p>
                    </span>
                </p>
                <p><span style=">Khách hàng chỉ cần thực hiện các bước đơn giản sau đây để giản lược những thủ tục thanh toán lệ phí hành chính công Đà Nẵng nhanh chóng và dễ dàng hơn:</span><span
                        style=" font-size:10.0pt;>
                        <o:p></o:p>
                    </span>
                </p>
                <p style="text-align:justify"><span style=""><strong>[Bước 1]&nbsp;</strong>Tải và đăng ký Ví MoMo<br>
                        Tải ứng dụng Ví MoMo với từ khóa “Ví MoMo” trên 2 hệ điều hành: Android và iOS. Đăng ký tài
                        khoản mới trên ứng dụng theo hướng dẫn: <a
                            href="https://momo.vn/huong-dan/huong-dan-tai-va-cai-dat-vi-momo"
                            style="text-align:justify;">https://momo.vn/huong-dan/huong-dan-tai-va-cai-dat-vi-momo</a>.</span>
                </p>
                <p style="text-align:justify"><span style=""><strong>[Bước 2]</strong>&nbsp;Liên kết Ví MoMo với tài
                        khoản của một trong các ngân hàng sau: Vietcombank, Vietinbank, Agribank, BIDV, ACB, TPBank,
                        VPBank, Eximbank, OCB, VIB, Shinhan Bank, SCB, VRB, BAOVIET Bank, Thẻ nội địa Sacombank .Chi
                        tiết hướng dẫn: <a href="https://momo.vn/huong-dan/lien-ket-ngan-hang-ctgr67"
                            style="text-align:justify;">bit.ly/momolienket</a></span></p>
                <p style="text-align:justify"><span style=""><strong>[Bước 3]</strong>Thanh toán Hóa đơn hành chính công
                        Đà Nẵng</span>
                </p>
                <p style="text-align:justify"><span style="">
                        <div class="lightgallery-item"
                            data-src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-04-04%20,%2011.03.25-190404110429.jpg">
                            <div class="lightgallery-item-img"><img alt=""
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-04-04%20,%2011.03.25-190404110429.jpg"
                                    style="width:600px;height:450px"></div>
                        </div>
                    </span></p>
                <p style="text-align:justify">
                    <div class="lightgallery-item"
                        data-src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-04-04%20,%2011.03.27-190404110442.jpg">
                        <div class="lightgallery-item-img"><img alt=""
                                src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-04-04%20,%2011.03.27-190404110442.jpg"
                                style="width:600px;height:450px"></div>
                    </div>
                </p>
                <p style="text-align:justify"><span style="">Ngay
                        sau khi thanh toán lệ phí thành công qua Ví MoMo, hệ thống hành chính công của Đà Nẵng sẽ ngay
                        lập tức cập nhật và ghi nhận trạng thái "đã thanh toán", để tiếp tục tiến hành các thủ tục xử lý
                        hồ sơ cho khách hàng.</span>
                </p>
                <p style="text-align:justify"><span style=""><strong>Ví MoMo:</strong></span></p>
                <p style="text-align:justify"><span style=""><strong>Hotline: 1900 5454 41 - Website: https://momo.vn -
                            Fanpage: ViMomo</strong></span>
                </p>

            </div>


            <div class="post-helpful">
                <div class="mb-2 font-weight-bold">Bài viết này có hữu ích không?</div>

                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Có (25)</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Không (2)</label>
                </div>
            </div>
        </div>

    </div>

</main>


{% endblock %}