{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="ne-category">

    <a href="" class="ne-category-item is-active">

        Tin mới

    </a>

    <a href="" class="ne-category-item">

        Phổ biến

    </a>


    <a href="" class="ne-category-item">

        Khuyến mãi

    </a>

    <a href="" class="ne-category-item">

        Tin tức - sự kiện

    </a>


    <a href="" class="ne-category-item">

        Thông cáo báo chí

    </a>


    <a href="" class="ne-category-item">

        Hình ảnh - Video

    </a>

</div>

<div class="container">


    <div class="ne-items">

        <div class="ne-item is-feature">

            <a href="blog-detail.html" class="link-absolute"></a>


            <div class="ne-item-imglarge">

                <img data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-thanh-toan-hoa-don-dn-770x370-190404104728.jpg" class="lazyload img-fluid" alt="">

            </div>

            <div class="ne-item-content">

                <div class="ne-tag"> Tin tức - sự kiện</div>
                <div class="ne-title">
                    Hướng dẫn thanh toán hóa đơn hành chính công Đà Nẵng qua Ví MoMo
                </div>
                <div class="ne-time">
                    <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                </div>

            </div>

        </div>

        <div class="ne-item">
            <a href="blog-detail.html" class="link-absolute"></a>

            <div class="ne-item-content">

                <div class="ne-tag">Khuyến mãi</div>
                <div class="ne-title">
                    Hoàn tiền 1% dành cho khách hàng mới khi thanh toán vay tiêu dùng qua Ví MoMo
                </div>
                <div class="ne-time">
                    <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                </div>

            </div>

            <div class="ne-item-image">

                <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-770x370%20(2)-190307154655.jpg" class="lazyload img-fluid" alt="">

            </div>
        </div>

        {% for item in range(0,5) %}


        <div class="ne-item">
            <a href="blog-detail.html" class="link-absolute"></a>

            <div class="ne-item-content">

                <div class="ne-tag"> Khuyến mãi</div>
                <div class="ne-title">
                    Hướng dẫn cách được miễn phí TikiNOW khi thanh toán bằng Ví MoMo
                </div>
                <div class="ne-time">
                    <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                </div>

            </div>

            <div class="ne-item-image">

                <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-tiki-sn-huyen-thoai---1080x540-190313192554.jpg" class="lazyload img-fluid" alt="">

            </div>
        </div>

        {% endfor %}


    </div>

</div>


<div class="d-flex justify-content-center py-4">
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

{% endblock %}

