{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block header %}



{% endblock %}


{%  block topcontent %}
<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item ">
            <a href="cashback.html" class="btn  promotion-footer-btn text-gray btn-lg btn-link pl-0">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
                </svg> Quay lại
            </a>
        </div>

        <div class="promotion-footer-item flex-fill">

            <a href="cashback.html" class="btn btn-block btn-lg promotion-footer-btn btn-momo font-weight-bold">
                Thanh toán
            </a>

        </div>

    </div>

</div>


{% endblock %}

{% block content %}




<div class="container promotion-container">
    <div class="row">


        <div class="favor-hero mb-0">
            <div class="favor-hero-img">


                <div class="favor-hero-bg"
                    style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-190626101249-636971407696160771.jpg')">
                </div>

            </div>

            <div class="favor-hero-gra"></div>
            <div class="favor-present  favor-brand">

                <div class="row no-gutters">
                    <div class="col-auto">
                        <div class="favor-hero-brand overflow-hidden mt-1 mr-3">
                            <img src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                                class="img-object-cover" alt="">
                        </div>
                    </div>

                    <div class="col">

                        <h1 class="favor-title">Circle K</h1>

                        <div class="favor-desc text-truncate">
                            Chuỗi cửa hàng tiện lợi - Mở cửa 24/7
                        </div>

                    </div>
                </div>


                <div class="row sm-gutters align-items-end mt-3 flex-nowrap">
                    <div class="col-auto mr-3">

                        <div class="star-block ">
                            <div class="star-block-hide" style="width: 45px;">
                                <div class="star-block-bg"></div>
                            </div>
                        </div>

                        <div class="brand-meta-sub">
                            4.1 (13 đánh giá)
                        </div>

                    </div>
                    <div class="col-auto mr-3">
                        <div class="brand-meta-name">
                            76
                        </div>
                        <div class="brand-meta-sub">
                            Địa điểm
                        </div>
                    </div>
                    <div class="col">

                        <div class="brand-meta-sub">
                            Siêu thị, <br> cửa hàng tiện lợi
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <div class="row">
        <div class="col-12">

            <!-- Nav tabs -->
            <ul class="nav brand-nav " id="navbar-brand">

                <li class="nav-item">
                    <a class="nav-link active" href="#menuGioithieu" data-scrollto="#menuGioithieu" data-offset="70">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#menuCuahang" data-scrollto="#menuCuahang" data-offset="70">Cửa hàng</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menuHinhanh" data-scrollto="#menuHinhanh" data-offset="70">Hình ảnh</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menuThanhtoan" data-scrollto="#menuThanhtoan" data-offset="70">Thanh toán</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menuLienhe" data-scrollto="#menuLienhe" data-offset="70">Liên hệ</a>
                </li>
            </ul>

            <div class="navbar-brand-scroll" >

                <div class="favor-section " id="menuGioithieu">
                    <h4 class="favor-section-title">
                        Thanh toán Circle K bằng Ví MoMo
                    </h4>

                    <div class="favor-section-content post-body">
                        <p style="text-align:justify">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay, <strong>Circle
                                K</strong> đã trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp,
                            nổi tiếng vì chất lượng sản phẩm và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa
                            hàng trên toàn thế giới.</p>
                        <p style="text-align:justify">Tại Việt Nam, <strong>Circle K</strong> chú trọng vào việc phát
                            triển nhanh chóng trong lĩnh vực kinh doanh chuỗi cửa hàng tiện lợi theo giấy phép nhượng
                            quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi cửa hàng tiện lợi quốc tế đầu
                            tiên tại Việt Nam.</p>
                        <p style="text-align:justify"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa hàng tại
                            các thành phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển
                            để đáp ứng nhu cầu của khách hàng ở khắp mọi nơi.</p>
                        <p style="text-align:justify">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn trong
                            4 chữ F (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>
                        <p style="text-align:justify">Circle K là một trong những đối tác quan trọng của Ví MoMo. Hiện
                            tại, khách hàng đã có thể thanh toán bằng Ví MoMo tại các cửa hàng của Circle K, góp phần
                            làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>
                    </div>
                </div>

                <div class="favor-section  border-bottom brand-list" id="menuCuahang">
                    <h4 class="favor-section-title">
                        Cửa hàng (234)
                    </h4>

                    <form class="mb-3">
                        <div class="row sm-gutters">
                            <div class="col">
                                <select id="" class="form-control form-control-sm">
                                    <option selected>Chọn thành phố...</option>
                                    <option>TP. HCM</option>
                                    <option>Hà Nội</option>
                                </select>
                            </div>
                            <div class="col">
                                <select id="" class="form-control form-control-sm">
                                    <option selected>Chọn quận huyện...</option>
                                    <option>Quận 1</option>
                                    <option>Quận 2</option>
                                    <option>Quận 3</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="list list-nospace list-noborder ">
                        <ul>

                            {% for item in range(0,5) %}
                            <li class="brand-list-item">
                                <a href="#" class="item-content">
                                    <div class="item-media">

                                        <div class="link-icon-circle">
                                            <img src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                                                width="40" alt="">
                                        </div>

                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title text-wrap">
                                            <div class="h6 mb-1 text-truncate">Circle K - 104 Hồ Tùng Mậu</div>
                                            <div class="font-12  text-black-50">
                                                104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            {% endfor %}

                        </ul>
                    </div>



                    <div class="btn btn-outline btn-block mt-2">Xem thêm</div>

                </div>

                <div class="favor-section  " id="menuHinhanh">
                    <h4 class="favor-section-title">
                        Hình ảnh
                    </h4>

                    <div class="row sm-gutters popup-gallery">
                        {% for item in range(0,2) %}
                        <div class="col-4">
                            <a href="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                                title="The Cleaner" class="d-block">
                                <div class="embed-responsive embed-responsive-1by1 rounded mb-3">

                                    <img src="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                                        class="embed-responsive-img img-object-cover" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                                title="The Cleaner" class="d-block">
                                <div class="embed-responsive embed-responsive-1by1 rounded mb-3">
                                    <img src="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                                        class="embed-responsive-img img-object-cover" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                                title="The Cleaner" class="d-block">
                                <div class="embed-responsive embed-responsive-1by1 rounded mb-3">
                                    <img src="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                                        class="embed-responsive-img img-object-cover" alt="">
                                </div>
                            </a>
                        </div>

                        {% endfor %}
                    </div>
                </div>

                <div class="favor-section" id="menuThanhtoan">
                    <h4 class="favor-section-title">
                        Hướng dẫn thanh toán
                    </h4>



                    <div class="htu-step ">

                        <div class="htu-step-item mb-0 popup-button" data-toggle="modal" data-target="#htu-modal">
                            <h5 class="htu-step-title mb-0">Xem hình hướng dẫn</h5>
                            <div class="htu-step-sub">3 bước nhanh chóng</div>

                            <div class="htu-step-arrow">

                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                </svg>

                            </div>

                        </div>


                    </div>
                </div>

                <div class="favor-section" id="menuLienhe">
                    <h4 class="favor-section-title">
                        Liên hệ
                    </h4>


                    <div class="favor-section-content post-body">
                        <p>
                            Nếu bạn gặp bất cứ vấn đề gì khi đóng góp hoặc muốn tìm hiểu thêm về chương trình,
                            hãy liên lạc với chúng tôi

                        </p>

                        <div class=" py-3 border-bottom">
                            <div class="row sm-gutters mb-2">
                                <div class="col-4">
                                    Thứ 2 - Thứ 6 :
                                </div>
                                <div class="col-8">10:00 AM - 11:00 PM</div>
                            </div>

                            <div class="row sm-gutters ">
                                <div class="col-4">
                                    Thứ 7 - CN :
                                </div>
                                <div class="col-8">2:00 AM - 11:00 PM</div>
                            </div>
                        </div>

                        <div class="py-3  align-items-center row sm-gutters border-bottom">
                            <div class="col">
                                125 Võ Thị Sáu, Q.3 TP. HCM
                            </div>
                            <div class="col-auto">
                                <a href="" class="link-icon-circle">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="py-3 row align-items-center sm-gutters border-bottom">
                            <div class="col">
                                (084) 958 - 3243
                            </div>
                            <div class="col-auto">
                                <a href="" class="link-icon-circle">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-phone"></use>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}

{% block footer %}

{% endblock %}


{% block popup %}




{% endblock %}
{% block javascript %}

{{ super() }}
<script>
    $(document).ready(function(){

        $('html').addClass("normal-scroll");

        $('body').scrollspy({ target: '#navbar-brand' , offset: 70});

    });
</script>

{% endblock %}