{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}

{% block content %}
<section class="parcel mt-3">
    <!--     <div class="container">
        <h2 class="mb-3">Khuyến mãi</h2>
    </div> -->
    <div class="banner-slider-container">
        <div class="banner-slider  swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner-slider-item   ">
                        <div class="embed-responsive embed-responsive-slider">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190627142521-636972423218552878.jpg"
                                alt="img" class="img-fluid embed-responsive-img" />
                        </div>
                        <h4 class="banner-slider-heading text-truncate">Ưu đãi thanh toán BIDV</h4>


                    </div>





                </div>

                <div class="swiper-slide">

                    <div class="banner-slider-item ">
                        <div class="embed-responsive embed-responsive-slider">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190619135529-636965493299190134.jpg"
                                alt="img" class="img-fluid embed-responsive-img" /></div>
                        <h4 class="banner-slider-heading text-truncate"> Hoàn tiền thanh toán</h4>

                    </div>

                </div>


                <div class="swiper-slide">

                    <div class="banner-slider-item ">
                        <div class="embed-responsive embed-responsive-slider">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190619084911-636965309513669899.jpg"
                                alt="img" class="img-fluid embed-responsive-img" />
                        </div>
                        <h4 class="banner-slider-heading text-truncate"> Mua vé máy bay </h4>


                    </div>

                </div>


            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination swiper-pagination-black"></div> -->

        </div>
    </div>
</section>
<section class="parcel ">
    <div class="container">

        <h2 class="mb-3">Chung tay cùng Tuổi Trẻ</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-favor">
                    <a href="promotion-favor.html" class="link-absolute">

                    </a>
                    <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                        <div class="embed-responsive-img">
                            <div class="izlu-favor-ove">Ước mơ <br>của Thúy</div>

                            <!-- <div class="izlu-img-gra"></div> -->

                            <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                        </div>
                    </div>

                    <div class="izlu-new-content">

                        <div class="izlu-favor-note yellow font-weight-bold text-uppercase">
                            <span>Hỗ trợ bệnh nhi Ung thư</span>
                        </div>

                        <div class="izlu-favor-name">
                            Ước mơ của Thúy
                        </div>



                        <div class="izlu-favor-desc">
                            Chương trình chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị :
                            chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí điều trị bệnh, ngày hội hoa hướng dương
                            "Vì bệnh nhi ung thư"
                        </div>


                        <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col">

                                <span class="people">

                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                    1566 người ủng hộ</span>
                            </div>

                            <div class="col-auto">
                                <span class="price">105.000.000₫</span>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="izlu-item izlu-favor">
                    <a href="promotion-favor.html" class="link-absolute">

                    </a>
                    <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                        <div class="embed-responsive-img">
                            <div class="izlu-favor-ove">Học bổng</div>

                            <!-- <div class="izlu-img-gra"></div> -->

                            <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/68d1dfb5-ceaa-4aa4-ac0a-ab703c41bccd.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                        </div>
                    </div>

                    <div class="izlu-new-content">

                        <div class="izlu-favor-note red font-weight-bold text-uppercase">
                            <span>Học bổng cho học sinh giỏi</span>
                        </div>

                        <div class="izlu-favor-name">
                            Tiếp sức đến trường
                        </div>



                        <div class="izlu-favor-desc">
                            Chương trình gồm học bổng, phương tiện đi lại, dụng cụ học tập ... trao cho học sinh học
                            giỏi có ý chí vượt khó trúng tuyển trung cấp nghề, cao đẳng đại học ...
                        </div>


                        <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col">

                                <span class="people">

                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                    1566 người ủng hộ</span>
                            </div>

                            <div class="col-auto">
                                <span class="price">105.000.000₫</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="parcel ">
    <div class="container">

        <h2 class="mb-3">Chung tay cùng Tuổi Trẻ</h2>

        <div class="izlu-full  ">

            <div class="izlu-item izlu-favor">
                <a href="promotion-favor.html" class="link-absolute">

                </a>
                <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                    <div class="embed-responsive-img">
                        <div class="izlu-favor-ove">Ước mơ <br>của Thúy</div>

                        <!-- <div class="izlu-img-gra"></div> -->

                        <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                            class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                    </div>
                </div>

                <div class="izlu-new-content">

                    <div class="izlu-favor-note yellow font-weight-bold text-uppercase">
                        <span>Hỗ trợ bệnh nhi Ung thư</span>
                    </div>

                    <div class="izlu-favor-name">
                        Ước mơ của Thúy
                    </div>



                    <div class="izlu-favor-desc">
                        Chương trình chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị :
                        chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí điều trị bệnh, ngày hội hoa hướng dương
                        "Vì bệnh nhi ung thư"
                    </div>



                    <div class="row izlu-favor-status no-gutters align-items-center">
                        <div class="col-12 ">

                            <span class="people">

                                    Tổng số tiền ủng hộ (1566 người)</span>
                        </div>
                        <div class="col-12">
                            <span class="price"> 105.000.000 VNĐ </span> 
                        </div>





                    </div>

                </div>


            </div>

            <div class="izlu-item izlu-favor">
                <a href="promotion-favor.html" class="link-absolute">

                </a>
                <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                    <div class="embed-responsive-img">
                        <div class="izlu-favor-ove">Học bổng</div>

                        <!-- <div class="izlu-img-gra"></div> -->

                        <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/68d1dfb5-ceaa-4aa4-ac0a-ab703c41bccd.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                            class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                    </div>
                </div>

                <div class="izlu-new-content">

                    <div class="izlu-favor-note red font-weight-bold text-uppercase">
                        <span>Học bổng cho học sinh giỏi</span>
                    </div>

                    <div class="izlu-favor-name">
                        Tiếp sức đến trường
                    </div>



                    <div class="izlu-favor-desc">
                        Chương trình gồm học bổng, phương tiện đi lại, dụng cụ học tập ... trao cho học sinh học
                        giỏi có ý chí vượt khó trúng tuyển trung cấp nghề, cao đẳng đại học ...
                    </div>


                    <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col-12 ">
    
                                <span class="people">
    
                                        Tổng số tiền ủng hộ (1566 người)</span>
                            </div>
                            <div class="col-12">
                                <span class="price"> 105.000.000 VNĐ </span> 
                            </div>
    
    
    
    
    
                        </div>

                </div>


            </div>
        </div>
    </div>
</section>


<section class="parcel ">

    <div class="container">

        <h2 class="mb-1 ">Đối tác nổi bật</h2>

        <div class="mb-3 text-gray-dark ">
            Các đối tác thanh toán bằng ví MoMo.
        </div>


        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item ">
                    <a href="brand.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-1by1 rounded">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610163325-636957812055724497.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Circle K
                    </div>
                    <div class="font-12 font-italic text-black-50">Chuỗi cửa hàng tiện lợi - Mở cửa 24/7</div>
                </div>


                <div class="izlu-item ">
                    <a href="brand.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-1by1 rounded">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190612093721-636959290412589576.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Family Mart
                    </div>
                    <div class="font-12 font-italic text-black-50">Chuỗi cửa hàng tiện lợi - Mở cửa 24/7</div>
                </div>


                <div class="izlu-item ">
                    <a href="brand.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-1by1 rounded">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190612092516-636959283169437100.png"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        MiniStop
                    </div>
                    <div class="font-12 font-italic text-black-50">Chuỗi cửa hàng tiện lợi - Mở cửa 24/7</div>
                </div>


            </div>
        </div>
    </div>

</section>


<section class="parcel ">
    <div class="container">

        <h2 class="mb-3">Tin tức sự kiện</h2>




        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-new">
                    <a href="promotion.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-momo_1200x630%20(1)-190327152313.png"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Khuyến mãi</div>
                        <div class="izlu-item-name">
                            Giảm ngay 50.000 đồng khi thanh toán hóa đơn ADAYROI qua Ví MoMo
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>


                <div class="izlu-item izlu-new">
                    <!--<a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>-->
                    <a href="promotion.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-1200x628%20-%20adayroi-190325105912.png"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Khuyến mãi</div>
                        <div class="izlu-item-name">
                            Tải Ví MoMo - Hô biến 500.000 đồng hiện ra - Thả ga mua sắm
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>


                <div class="izlu-item izlu-new">
                    <!--<a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>-->
                    <a href="promotion.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-a-190314142856.jpg"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Tin tức</div>
                        <div class="izlu-item-name">
                            Đặt món trực tuyến ngay trên Ví MoMo, tiện lợi khỏi phải nghĩ ngợi!
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</section>







{% endblock %}


{% block popup %}




{% endblock %}