{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}

{% block content %}

<section class="parcel mt-3 d-none ">
    <div class="container">

        <h2 class="mb-3">Chung tay cùng Tuổi Trẻ</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-favor">
                    <a href="promotion-favor.html" class="link-absolute">

                    </a>
                    <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                        <div class="embed-responsive-img">
                            <div class="izlu-favor-ove">Ước mơ <br>của Thúy</div>

                            <!-- <div class="izlu-img-gra"></div> -->

                            <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                        </div>
                    </div>

                    <div class="izlu-new-content">

                        <div class="izlu-favor-note yellow font-weight-bold text-uppercase">
                            <span>Hỗ trợ bệnh nhi Ung thư</span>
                        </div>

                        <div class="izlu-favor-name">
                            Ước mơ của Thúy
                        </div>



                        <div class="izlu-favor-desc">
                            Chương trình chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị :
                            chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí điều trị bệnh, ngày hội hoa hướng dương
                            "Vì bệnh nhi ung thư"
                        </div>


                        <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col">

                                <span class="people">

                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                    1566 người ủng hộ</span>
                            </div>

                            <div class="col-auto">
                                <span class="price">105.000.000₫</span>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="izlu-item izlu-favor">
                    <a href="promotion-favor.html" class="link-absolute">

                    </a>
                    <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                        <div class="embed-responsive-img">
                            <div class="izlu-favor-ove">Học bổng</div>

                            <!-- <div class="izlu-img-gra"></div> -->

                            <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/68d1dfb5-ceaa-4aa4-ac0a-ab703c41bccd.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                        </div>
                    </div>

                    <div class="izlu-new-content">

                        <div class="izlu-favor-note red font-weight-bold text-uppercase">
                            <span>Học bổng cho học sinh giỏi</span>
                        </div>

                        <div class="izlu-favor-name">
                            Tiếp sức đến trường
                        </div>



                        <div class="izlu-favor-desc">
                            Chương trình gồm học bổng, phương tiện đi lại, dụng cụ học tập ... trao cho học sinh học
                            giỏi có ý chí vượt khó trúng tuyển trung cấp nghề, cao đẳng đại học ...
                        </div>


                        <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col">

                                <span class="people">

                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                    1566 người ủng hộ</span>
                            </div>

                            <div class="col-auto">
                                <span class="price">105.000.000₫</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="parcel mt-3 ">
    <div class="container">

        <h2 class="mb-3">Chung tay cùng Tuổi Trẻ</h2>

        <div class="izlu-full  ">

            <div class="izlu-item izlu-favor">
                <a href="promotion-favor.html" class="link-absolute">

                </a>
                <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                    <div class="embed-responsive-img">
                        <div class="izlu-favor-ove">Ước mơ <br>của Thúy</div>

                        <!-- <div class="izlu-img-gra"></div> -->

                        <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                            class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                    </div>
                </div>

                <div class="izlu-new-content">

                    <div class="izlu-favor-note yellow font-weight-bold text-uppercase">
                        <span>Hỗ trợ bệnh nhi Ung thư</span>
                    </div>

                    <div class="izlu-favor-name">
                        Ước mơ của Thúy
                    </div>



                    <div class="izlu-favor-desc">
                        Chương trình chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị :
                        chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí điều trị bệnh, ngày hội hoa hướng dương
                        "Vì bệnh nhi ung thư"
                    </div>



                    <div class="row izlu-favor-status no-gutters align-items-center">
                        <div class="col-12 ">

                            <span class="people">

                                    Tổng số tiền ủng hộ (1566 người)</span>
                        </div>
                        <div class="col-12">
                            <span class="price"> 105.000.000 VNĐ </span> 
                        </div>





                    </div>

                </div>


            </div>

            <div class="izlu-item izlu-favor">
                <a href="promotion-favor.html" class="link-absolute">

                </a>
                <div class="embed-responsive embed-responsive-16by9  izlu-favor-img">
                    <div class="embed-responsive-img">
                        <div class="izlu-favor-ove"> Tiếp sức<br>đến trường</div>

                        <!-- <div class="izlu-img-gra"></div> -->

                        <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/68d1dfb5-ceaa-4aa4-ac0a-ab703c41bccd.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                            class="img-fluid  lazyload" alt="Ước mơ của Thúy">
                    </div>
                </div>

                <div class="izlu-new-content">

                    <div class="izlu-favor-note red font-weight-bold text-uppercase">
                        <span>Học bổng cho học sinh giỏi</span>
                    </div>

                    <div class="izlu-favor-name">
                        Tiếp sức đến trường
                    </div>



                    <div class="izlu-favor-desc">
                        Chương trình gồm học bổng, phương tiện đi lại, dụng cụ học tập ... trao cho học sinh học
                        giỏi có ý chí vượt khó trúng tuyển trung cấp nghề, cao đẳng đại học ...
                    </div>


                    <div class="row izlu-favor-status no-gutters align-items-center">
                            <div class="col-12 ">
    
                                <span class="people">
    
                                        Tổng số tiền ủng hộ (1566 người)</span>
                            </div>
                            <div class="col-12">
                                <span class="price"> 105.000.000 VNĐ </span> 
                            </div>
    
    
    
    
    
                        </div>

                </div>


            </div>
        </div>
    </div>
</section>









{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}

{% endblock %}