{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block header %}



{% endblock %}
{% block content %}

<div class="container promotion-container">

    <div class="row">
        <div class="col-12">

            <!-- Nav tabs -->
            <ul class="nav brand-nav ">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#menu1">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Cửa hàng</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Thanh toán</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Hỏi đáp</a>
                </li>
            </ul>


            <div class="favor-section border-bottom">
                <h4 class="favor-section-title">
                    Blocks
                </h4>

                <div class="list">
                    <ul>
                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">

                                    <div class="link-icon-circle">
                                        <svg class="svg-inline svg ">
                                            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Ivan Petrov</div>
                                    <div class="item-after">CEO</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">

                                    <div class="link-icon-circle">
                                        <svg class="svg-inline svg ">
                                            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="item-inner">
                                    <div class="item-title">John Doe</div>
                                    <div class="item-after">Cleaner</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">

                                    <div class="link-icon-circle">
                                        <svg class="svg-inline svg ">
                                            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                        </svg>
                                    </div>

                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Jenna Smith</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="favor-section  border-bottom">
                <h4 class="favor-section-title">
                    Cửa hàng
                </h4>

                <div class="favor-section-content ">

                    <div class="py-3  align-items-center row sm-gutters border-bottom">
                        <div class="col">
                            125 Võ Thị Sáu, Q.3 TP. HCM
                        </div>
                        <div class="col-auto">
                            <a href="" class="link-icon-circle">
                                <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="py-3 row align-items-center sm-gutters border-bottom">
                        <div class="col">
                            (084) 958 - 3243
                        </div>
                        <div class="col-auto">
                            <a href="" class="link-icon-circle">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-phone"></use>
                                </svg></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>


</div>


{% endblock %}

{% block footer %}

{% endblock %}


{% block popup %}




{% endblock %}