{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}


{%  block topcontent %}
<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item  ">
            <a href="donation.html" class="btn btn-block btn-lg promotion-footer-btn btn-dark btn-momo-gray">
                Quay lại
            </a>
        </div>

        <div class="promotion-footer-item ">

            <a href="#exampleModalScrollable" data-toggle="modal"
                class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Đóng góp
            </a>

        </div>

    </div>

</div>

<!-- Modal -->


{% endblock %}

{% block content %}


<div class="apd-container">

    <div class="apd-hero"
        style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-190624115841-636969743219623026.jpg')">
    </div>

    <div class="card apd-card-hero">
        <div class="card-content card-content-padding">

            <div class="row no-gutters">
                <div class="col-auto">

                    <div class="apd-hero-logo">
                        <img src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/tRaP2VgBExq9tqXo56NB_1559296482937"
                            class="img-fluid mx-auto" alt="">
                    </div>

                </div>
                <div class="col">
                    <h1 class="apd-card-title mb-1">Ước mơ của Thuý</h1>
                    <div class="apd-card-desc">Hỗ trợ bệnh nhi ung thư</div>
                </div>
            </div>

        </div>
    </div>



    <div class="card ">
        <div class="card-content card-content-padding">

            <div class="row sm-gutters apd-stat-container">
                <div class="col-6">

                    <div class="apd-stat">
                        <div class="apd-stat-icon">
                            <img src="images/donation/like.png" width="15" class="img-fluid mx-auto d-block" alt="">
                        </div>
                        <div class="apd-stat-txt font-weight-bold">
                            279.520.000 VNĐ <br> đã được quyên góp
                        </div>
                    </div>

                </div>

                <div class="col-6">

                    <div class="apd-stat">
                        <div class="apd-stat-icon">
                            <img src="images/donation/peoples.png" width="15" class="img-fluid mx-auto d-block" alt="">
                        </div>
                        <div class="apd-stat-txt font-weight-bold">
                            397 lượt <br> tham gia quyên góp
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="card-content card-content-padding-sm border-top">


            <h4 class="apd-card-head">
                Thông tin
            </h4>

            <div class="text-black-50 apd-card-p">
                Chương trình "Ước mơ của Thuý" là một trong các chương trình xã hội của báo Tuổi Trẻ. Chương trình nhằm
                chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị: chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí
                điều trị bệnh, ngày hội hoa hướng dương "Vì bệnh nhi ung thư"...
            </div>

        </div>

        <div class="card-content card-content-padding-sm border-top">

            <h4 class="apd-card-head">
                Hình ảnh
            </h4>

            <div class="row sm-gutters popup-gallery">
                {% for item in range(0,2) %}
                <div class="col-4">
                    <a href="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                        title="The Cleaner" class="d-block">
                        <div class="embed-responsive embed-responsive-1by1 ">

                            <img src="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                                class="embed-responsive-img img-object-cover" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-4">
                    <a href="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                        title="The Cleaner" class="d-block">
                        <div class="embed-responsive embed-responsive-1by1 ">
                            <img src="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                                class="embed-responsive-img img-object-cover" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-4">
                    <a href="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                        title="The Cleaner" class="d-block">
                        <div class="embed-responsive embed-responsive-1by1 ">
                            <img src="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                                class="embed-responsive-img img-object-cover" alt="">
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>

        </div>

    </div>


    <div class="card">
        <div class="card-content card-content-padding border-top">


            <h4 class="apd-card-head">
                Những nhà hảo tâm
            </h4>

            <div class="list media-list apd-people my-0">
                <ul>
                    {% for item in range(0,4) %}
                    <li>
                        <div class="item-content apd-people-item">
                            <div class="item-inner  ">
                                <div class="item-title-row align-items-center">
                                    <div class="apd-people-left">
                                        <div class="name">
                                            Trần Hoàng Anh Thư
                                        </div>
                                        <div class="phone">
                                            0935517***
                                        </div>
                                    </div>
                                    <div class="apd-people-after">
                                        <div class="money">2.000đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    {% endfor %}

                </ul>
            </div>


            <div class="row">
                <button class="button col">Xem thêm

                    <svg class="svg-inline svg font-12 ">
                        <use xlink:href="svg/svg.svg#svg-chevron-down"></use>
                    </svg>


                </button>
            </div>

        </div>
    </div>

</div>





{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}




<div class="modal fade modal-old modal-desmond-half modal-fixed " id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="mb-0 font-weight-normal">Ước mơ của Thúy</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img
                        src="https://static.mservice.io/inapp/images/cancel.svg" width="14" alt=""></button>
            </div>
            <div class="modal-body">

                <div class="mt-1 mb-3">Số dư Ví hoàn tiền : 4.500đ</div>

                <form class="mt-1">
                    <div class="form-group form-group-material mb-4">
                        <label for="" class="mb-0 font-11 ">Số tiền quyên góp</label>
                        <div class="form-currency"> đ </div>

                        <input type="search" class="form-control form-control-lg " pattern="[0-9]*" inputmode="numeric"
                            id="input-money" placeholder="Nhập số tiền muốn quyên góp">
                        <small id="emailHelp" class="form-text text-danger">Số tiền tối thiểu là 1000đ.</small>
                    </div>





                    <div class="apd-payment form-group-material">

                        {% for item in money %}

                        <div class="apd-payment-item">
                            <input class="apd-payment-check" type="radio" id="apd{{item.id}}" name="payDonation"
                                value="{{item.id}}" {% if loop.index == 1 %} checked="" {% endif %}>

                            <label for="apd{{item.id}}" class="apd-payment-label">


                                <span class="apd-payment-mo">{{item.value}} ₫</span>
                            </label>
                        </div>

                        {% endfor %}
                    </div>




                    <div class="form-group form-group-material">
                        <label for="" class="mb-0 font-11 ">Lời nhắn</label>

                        <div class="input-clear">
                            <img src="https://static.mservice.io/inapp/images/cancel.svg" width="10" alt="">
                        </div>


                        <input type="email" class="form-control form-control-lg" id=""
                            placeholder="Nhập lời nhắn (không bắt buộc)">



                    </div>

                </form>




            </div>


            <div class="modal-footer p-0">

                <div class="w-100">

                    <div class="promotion-footer">
                        <div class="promotion-footer-item  ">
                            <a href="donation.html"
                                class="btn btn-block btn-lg promotion-footer-btn btn-dark btn-momo-gray">
                                Hủy
                            </a>
                        </div>

                        <div class="promotion-footer-item ">

                            <a href="#exampleModalScrollable" data-toggle="modal"
                                class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                                Quyên góp
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}