{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}

{% block content %}


<div class="apd-container">
    <div class="card apd-card">

        <a href="#d" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
            <div class="embed-responsive-img">

                <img data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                    class="img-fluid  lazyload" alt="Ước mơ của Thúy">
            </div>
        </div>

        <div class="card-content apd-card-padding ">

            <h2 class="apd-card-title">Tiếp sức đến trường</h2>

            <div class="apd-card-desc">Học bổng cho học sinh giỏi</div>

            <div class=" apd-card-footer row no-gutters">
                <div class="col-auto">
                    <div class="apd-quote mr-3">
                        <div class="label">Đã quyên góp</div>
                        <div class="number">85.325.000 VNĐ</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="apd-quote mr-3">
                        <div class="label">Lượt quyên góp</div>
                        <div class="number">138</div>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="donation-item.html" class="btn apd-btn">
                        Quyên góp
                    </a>
                </div>

            </div>

        </div>


    </div>

    
    <div class="card apd-card">

        <a href="#d" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
            <div class="embed-responsive-img">

                <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-190624115841-636969743219623026.jpg"
                    class="img-fluid  lazyload" alt="Ước mơ của Thúy">
            </div>
        </div>

        <div class="card-content apd-card-padding ">

            <h2 class="apd-card-title">Ước mơ của Thuý</h2>

            <div class="apd-card-desc">Hỗ trợ bệnh nhi ung thư</div>

            <div class=" apd-card-footer row no-gutters">
                <div class="col-auto">
                    <div class="apd-quote mr-3">
                        <div class="label">Đã quyên góp</div>
                        <div class="number">267.325.000 VNĐ</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="apd-quote mr-3">
                        <div class="label">Lượt quyên góp</div>
                        <div class="number">455</div>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="donation-item.html" class="btn apd-btn">
                        Quyên góp
                    </a>
                </div>

            </div>

        </div>


    </div>

</div>





{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}

{% endblock %}