{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}




<div class="topbar ">

    <div class="topbar-left topbar-item">

        <div class="topbar-momo-icon">

            <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 29.29 27.32" fill="#fff">
                <g data-name="Layer 2">
                    <g data-name="Layer 1">
                        <path
                            d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                    </g>
                </g>
            </svg>

        </div>



    </div>
    <div class="topbar-center topbar-item">
        <div class="topbar-center-txt">
            Xác nhận thanh toán
        </div>
    </div>
    <div class="topbar-right topbar-item">



    </div>


</div>

{% endblock %}

{%  block topcontent %}
<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item flex-fill">

            <a href="#ModalPassword" data-toggle="modal" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                <img src="images/donation/lock-icon.svg" width="12" class="mr-1" alt=""> <span class="align-middle">Xác
                    nhận</span>
            </a>

        </div>

    </div>

</div>

<!-- Modal -->


{% endblock %}

{% block content %}


<div class="apd-container">



    <div class="block-title">NGUỒN TIỀN</div>


    <div class="block block-strong ">

        <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <div class="promotion-momo-icon mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 29.29 27.32" fill="#fff">
                        <g data-name="Layer 2">
                            <g data-name="Layer 1">
                                <path
                                    d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                            </g>
                        </g>
                    </svg>

                </div>
            </div>
            <div class="col">
                <div class="h5 font-weight-normal mb-1">Ví hoàn tiền</div>
                <div class="text-black-50 font-12">4.500đ</div>
            </div>
        </div>


    </div>

    <div class="block-title">Chi tiết giao dịch</div>

    <div class="list list-style1">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Hóa đơn</div>
                        <div class="item-after">Ước mơ của Thúy</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Số tiền</div>
                        <div class="item-after"> 4.000đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Phí giao dịch</div>
                        <div class="item-after"> Miễn phí</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Tổng tiền</div>
                        <div class="item-after"> <strong>1.000đ</strong></div>
                    </div>
                </div>
            </li>

        </ul>
    </div>


    <div class="block">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="images/donation/dv-image-seal.png" width="80" class="d-block mr-3" alt="">
            </div>
            <div class="col">
                <div class="font-12 text-black-50">
                    Bảo mật chuẩn SSL/TLS, mọi thông tin giao dịch đều được mã hoá an toàn.
                </div>
            </div>
        </div>
    </div>




</div>

{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}




<div class="modal fade modal-desmond modal-desmond-half" id="ModalPassword" tabindex="-1" role="dialog"
    aria-labelledby="ModalPassword" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="mb-0 font-weight-normal">Nhập mật khẩu</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/cancel.svg" width="14" alt="">

                </button>
            </div>
            <div class="modal-body p-0 bg-light">


                <div class="apd-pass">

                    <div class="apd-pass-sym">
                        <div class="sym is-active"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                    </div>

                    <div class="apd-pass-error text-danger">
                        Giao dịch thất bại vì mật khẩu không chính xác. Vui lòng thử lại.<br>(Bạn còn 1 lần thử)
                    </div>
                    

                    <!-- <input class="input input-pass" type="password" disabled placeholder="Xem tạm" /> -->
                </div>


            </div>


            <div class="modal-footer p-0 border-0">



                <div class="w-100">

                    <div class="keyboardContainer">


                        <div class="simple-keyboard"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block javascript %}
{{ super() }}


<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.min.js"></script>

<script>
    let Keyboard = window.SimpleKeyboard.default;

    let keyboard = new Keyboard({
        onChange: input => onChange(input),
        onKeyPress: button => onKeyPress(button),
        layout: {
            default: ["1 2 3", "4 5 6", "7 8 9", "0 {backspace}"]
        },
        maxLength: 6,
        display: {
            "{backspace}": "⌫"
        },
        theme: "hg-layout-numeric numeric-theme apd-keyboard",
        mergeDisplay: true
    });






    /**
     * Update simple-keyboard when input is changed directly
     */
    document.querySelector(".input").addEventListener("input", event => {
        keyboard.setInput(event.target.value);
    });

    console.log(keyboard);

    function onChange(input) {
        document.querySelector(".input-pass").value = input;
        console.log("Input changed", input);
    }

    function onKeyPress(button) {
        console.log("Button pressed", button);
    }

    /**
     * Handle keyboard press
     */
    document.addEventListener("keydown", event => {
        highlightButton(event);
    });

    document.addEventListener("keyup", event => {
        unhighlightButton(event);
    });

    function highlightButton(event) {
        let layoutKeyName = keyboard.physicalKeyboardInterface.getSimpleKeyboardLayoutKey(
            event
        );

        /**
         * removing numpad from string
         */
        if (layoutKeyName.includes("numpad")) {
            layoutKeyName = layoutKeyName.replace("numpad", "");
        }

        let buttonElement =
            keyboard.getButtonElement(layoutKeyName) ||
            keyboard.getButtonElement(`{${layoutKeyName}}`);

        if (!buttonElement) {
            console.log("Could not find button in layout", layoutKeyName);
            return false;
        }

        buttonElement.style.background = "#9ab4d0";
        buttonElement.style.color = "white";
    }

    function unhighlightButton(event) {
        let layoutKeyName = keyboard.physicalKeyboardInterface.getSimpleKeyboardLayoutKey(
            event
        );

        /**
         * removing numpad from string
         */
        if (layoutKeyName.includes("numpad")) {
            layoutKeyName = layoutKeyName.replace("numpad", "");
        }

        let buttonElement =
            keyboard.getButtonElement(layoutKeyName) ||
            keyboard.getButtonElement(`{${layoutKeyName}}`);

        if (!buttonElement) {
            console.log("Could not find button in layout", layoutKeyName);
            return false;
        }

        buttonElement.removeAttribute("style");
    }


</script>

{% endblock %}