{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}


{% endblock %}

{%  block topcontent %}
<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item flex-fill">

            <a href="#ModalPassword" data-toggle="modal" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                    Quay lại ứng dụng MoMo
            </a>

        </div>

    </div>

</div>

<!-- Modal -->


{% endblock %}

{% block content %}


<div class="apd-container">

    <div class="apd-status ">
        <div class="container">
            <div class="apd-status-icon">
                <img src="images/donation/warning.svg" width="55" class="img-fluid mx-auto d-block" alt="">
            </div>

            <div class="apd-status-content text-center">
                <h4 class=" mb-0">
                    Giao dịch không thành công !
                </h4>
            </div>
        </div>
    </div>


    <div class="block block-strong mt-0">

        <div class="text-center">
            <div class="h5 mb-0 lh-reset">
                Quý khách đã quyên góp 4.000đ cho chương trình Ước mơ của Thuý
            </div>
        </div>


    </div>


    <div class="list list-style1">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Số tiền</div>
                        <div class="item-after">4.000đ</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Mã giao dịch</div>
                        <div class="item-after"> <span class="text-danger" >12345678</span> </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>





</div>

{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}




{% endblock %}



{% block javascript %}
{{ super() }}


{% endblock %}