{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{{super()}}
{% endblock %}

{% block content %}

<style>

</style>

<style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
</style>



<div class="game-container " style="background-image: url('images/game/bg-game.jpg')">
    <div class="container luckydraw-in">
        <div class="row no-gutters">
            <div class="col-12 col-lg-12 mt-3 mb-2">
                <img src="https://static.mservice.io/blogscontents/momo-upload-api-1-quayso-181217084940.png"
                    class="img-fluid d-block" alt="" style="max-height:95px;margin:0 auto;">
            </div>

        </div>
        <div class="text-center mb-3" style="">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-momo1-181217093108.png" class="img-fluid"
                width="100" style="">


        </div>

        <div class="slot-machine-container">
            <div class="slot-machine-bg">
                <div id="ezslots2"></div>
            </div>

        </div>


        <div class="text-center btn-slot-container-mobile">

            <button id="winwinwin22" data-target="#modal-luckydraw-dangky" data-toggle="modal"
                class="btn btn-primary btn-lg btn-slot-machine" type="button" style="margin-top: 10px;">
                QUAY
            </button>
            <button id="winwinwin2" data-target="#modal-luckydraw-dangky" data-toggle="modal"
                class="btn btn-primary btn-lg btn-slot-machine d-none" type="button" style="margin-top: 10px;">
                QUAY
            </button>
        </div>


    </div>

    <div class="container py-2 pb-3">
        <div class="row no-gutters ">
            <div class="col-4">

                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-gift"></use>
                    </svg>


                    QUÀ TẶNG
                </a>

            </div>



            <div class="col-4" style="padding-right:0px">
                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg3" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-plus"></use>
                    </svg> THÊM LƯỢT
                </a>
            </div>
            <div class="col-4 " style="padding-right:0px">
                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg2" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-question-circle"></use>
                    </svg> HƯỚNG DẪN
                </a>

            </div>

        </div>

    </div>
</div>





{% endblock %}

{% block footer %}

{% endblock %}







{% block popup %}

{% include "layouts/game-modal.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}

<script src="js/game/ezslots.js"></script>
<script src="js/game/jquery.easing.1.3.js"></script>
<script src="js/game/jquery.dataTables.min.js"></script>
<script src="js/game/dataTables.bootstrap4.min.js"></script>
<script>
    var winnerQuantity = 0;
    var totalAward = 0;
    var awards = [
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-voucher-181226150854-190424113905.png",
            "id": 16,
            "text": "Voucher MoMo"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-tiki-181226150912-190424113837.png",
            "id": 17,
            "text": "Voucher Tiki"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-circlek-logo-181227102639-190424113830.png",
            "id": 18,
            "text": "Voucher Circle K"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-chotot-181227084900-190424100041.png",
            "id": 19,
            "text": "Voucher Cho Tot"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-phuc-long_logo-181227102523-190424100034.png",
            "id": 20,
            "text": "Voucher Phuc Long"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-ministop-logo-181227102553-190424100022.png",
            "id": 21,
            "text": "Voucher MiniStop"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-the-pizza-company-logo-181227102618-190424100016.png",
            "id": 22,
            "text": "Voucher Pizza Company"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-logo-baoviet-181227102701-190424100007.png",
            "id": 23,
            "text": "Voucher Bảo Việt"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-fimcong-181227103700-190424095956.png",
            "id": 24,
            "text": "Voucher Film+"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-akahouse-logo-181227104207-190424095518.png",
            "id": 25,
            "text": "Voucher Aka House"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-cfyc_logo-update_12062018-181227104336-190424095208.png",
            "id": 26,
            "text": "Voucher BetterFit"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-bobapop-logo-181227104245-190424095201.png",
            "id": 27,
            "text": "Voucher Bobapop"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-bolero-logo-181227104306-190424095154.png",
            "id": 28,
            "text": "Voucher Bolero"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-chamichi-final-logo-02-181227104402-190424095145.png",
            "id": 29,
            "text": "Voucher Chamichi"
        },
        {
            "imageurl": "https://static.mservice.io/img/momo-upload-api-momo-upload-api-chewyjunior-logo-181227104420-190424095114.png",
            "id": 30,
            "text": "Voucher Chewi Junior"
        }
    ];

    function UpdateWinnerQuantity() {
        if (winnerQuantity > 0) {
            //$("#winwinwin1").html("Quay Số <img src='/styles/desktop/images/user-plus.svg' style='width: 30px;margin-top: -12px;margin-left: 20px;margin-right: 3px;'>" + winnerQuantity);
            $("#winwinwin1").show();

            if (winnerQuantity >= totalAward) {
                $("#pnlSpinNum").hide();
                $("#winwinwin1").hide();
            }
            $("#spin-num").text(winnerQuantity + 1);

        }

    }

    function InitEzSlot() {
        var images = awards.map(x => '<img  class="fruit-image mb-1" src="' + x.imageurl + '">');



        var callbackFunction = function (result) {
            setTimeout(function () {
                if (result[0] === result[1] && result[1] == result[2]) {
                    $('.modal').modal('hide');
                    $("#alertTextModal").modal("show");
                }
                else {
                    $('.modal').modal('hide');
                    $("#alertLoseModal").modal("show");
                }
                $("#winwinwin2").removeAttr("disabled");
            }, 3000)
            //  alert(JSON.stringify(result));

        }


        //using images instead, and more reels
        ezslot2 = new EZSlots("ezslots2", {
            "reelCount": 3,
            "winningSet": [0, 0, 0],
            "symbols": images,
            "height": 100,
            "width": 87,
            // "time":5,
            "callback": callbackFunction
        });


    }

    function InitTableWinner() {
        if ($('#dataTable1').length) {
            var t = $('#dataTable1').DataTable(
                {
                    "language": {
                        "decimal": "",
                        "emptyTable": "Không tim thấy kết quả",
                        "info": "Xem từ _START_ đến _END_ trong _TOTAL_ kết quả",
                        "infoEmpty": "Xem từ 0 đến 0 của 0 kết quả",
                        "infoFiltered": "(filtered from _MAX_ total entries)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Xem _MENU_ kết quả",
                        "loadingRecords": "Chờ...",
                        "processing": "Chờ...",
                        "search": "Tìm kiếm:",
                        "zeroRecords": "Không tim thấy kết quả",
                        "paginate": {
                            "first": "Đầu",
                            "last": "Cuối",
                            "next": "Trang kế",
                            "previous": "Trang trước"
                        },
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                    }
                }
            );
        }
        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    }

    var ezslot2;
    var rs = {};
    $(function () {
        InitEzSlot();
        $("#winwinwin2").click(function () {
            $("#winwinwin2").prop("disabled", true);
            $.get("__get/LuckySlot/GetLuckySlotResult", function (res) {
                if (res == null || res == undefined) {
                    return;
                }
                else {
                    if (res != -1) {
                        var award = awards.find(function (el) {
                            return el.id == res;
                        })
                        var index = awards.indexOf(award);
                        $("#alert-title").html(award.text);
                        $("#img-award").attr("src", award.imageurl)

                        ezslot2.win([index, index, index]);
                    }
                    else {
                        ezslot2.spin();
                    }
                }
            })
        });

    });


    function ConfirmResult() {
        //reset circle
        $("#ezslots1").html("");
        InitEzSlot();
        //reset table winner
        $("#dataTable1").DataTable().destroy();
        var markup = "<tr></td><td><td>" + rs.name + "</td><td>" + rs.phone + "</td><td>" + rs.email + "</td></tr>";
        $("#dataTable1").append(markup);
        InitTableWinner();

        //update number winner
        winnerQuantity++;
        UpdateWinnerQuantity();
        $("#onboardingTextModal").modal("hide");


    }
</script>
{% endblock %}