{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{% endblock %}

{% block content %}


<link rel="stylesheet" href="stylesheets/theme-game.css">


<style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .rs-background-video-layer iframe {
        visibility: inherit !important;
    }
</style>


<div class="game-container " >

    <div class="game-container-pattern" style="background-image: url('images/game/space.png')">

    </div>


  


    <div class="cf-header">

        <img src="images/game/logo-game1.jpg" class="img-fluid mx-auto d-block" alt="">

    </div>


    <div class="cf-question">

        <h2 class="text-white text-center mb-10 mt-10 h1 font-conden text-uppercase text-metal">Đố vui trực tuyến</h2>

        <div class="text-white text-center mb-15 px-4">
            Chương trình trắc nghiệm trực tuyến với nhiều phần quà hấp dẫn

        </div>

        <div class="text-center text-white">
            <div class="cf-date">
                Thời gian : <span class="font-weight-bold">
                    15h30 - 17h30
                </span> ngày
                <span class="font-weight-bold">
                    12/6
                </span>
            </div>
        </div>


        <div class="mt-25 ">
            <div class="text-white text-center mb-5">Chương trình sẽ bắt đầu sau : </div>
            <div class="nk-countdown nk-countdown-center" data-end="2019-07-26 08:50"></div>

        </div>



    </div>


    <div class="cf-footer">


        <div class="cf-btn-group">

            <a href="game-confetti-login.html" class="nk-btn nk-btn-x2 nk-btn-rounded nk-btn-color-main-1 btn-block">

                Đăng ký tham gia</a>

        </div>



    </div>




</div>





{% endblock %}

{% block footer %}

{% endblock %}







{% block popup %}

{% include "layouts/game-modal.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}




<!-- Jquery Countdown + Moment -->
<script src="js/game/jquery.countdown.min.js"></script>
<script src="js/game/moment.min.js"></script>
<script src="js/game/moment-timezone-with-data.min.js"></script>

<script>

    var template = `
             <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%D</span>
                <small>Days</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%H</span>
                <small>Hours</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%M</span>
                <small>Minutes</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%S</span>
                <small>Seconds</small>
            </div>`;


    $('.nk-countdown').each(function () {
        const tz = "Asia/Ho_Chi_Minh";
        let end = $(this).attr('data-end');
        end = moment.tz(end, tz).toDate();

        $(this).countdown(end, function (event) {
            $(this).html(event.strftime(template));
        });
    });





    var countdownEle = $(".confetti-coundown");
    var countdownNumberEl = document.getElementById('confetti-coundown-number');

    function starAnswer() {

        countdownEle.addClass("is-active");

        var countdown = 10;
        countdownNumberEl.textContent = countdown;


        var newInterval = setInterval(function () {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;

            if (countdown < 4 && countdown > 0) {
                countdownEle.addClass("is-ending");
            } else {
                countdownEle.removeClass("is-ending");
            }
        }, 1000);

        setTimeout(function () {
            clearInterval(newInterval);
            countdownNumberEl.textContent = 0;
        }, 10000);
    }



    $(document).ready(function () {

        $("#toggleConfetti").on("click", function (e) {
            e.preventDefault();
            $('.confetti-position').toggleClass("md-show");
        });
        // starAnswer();
    });
</script>

{% endblock %}