{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{% endblock %}

{% block content %}


<link rel="stylesheet" href="stylesheets/theme-game.css">


<style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .rs-background-video-layer iframe {
        visibility: inherit !important;
    }
</style>


<div class="game-container " >

    <div class="game-container-pattern" style="background-image: url('images/game/space.png')">

    </div>


    <div class="cf-header">

        <!-- <img src="images/game/logo-gametam.png" class="img-fluid mx-auto d-block" alt=""> -->

    </div>
    <div class="cf-question p-0">


        <div class="cf-hero">
            <div class="cf-hero-image">
                <img src="https://www.moviequotesandmore.com/wp-content/uploads/green-book.jpg" class="img-fluid"
                    alt="">
            </div>


            <div class="cf-hero-txt d-none">
                You never win with violence. You only win when you maintain your dignity ?
            </div>
        </div>




        <!-- <a href="" class="" id="toggleConfetti">An cau hoi</a> -->


    </div>


    <div class="cf-footer">

        <div class="confetti-position md-show md-effect-14">
            <div class="confetti-noti-container">
                <div class="confetti-noti">
                    <div class="confetti-noti-icon">
                        <!-- add class is-active -->
                        <div class="confetti-coundown ">
                            <div id="confetti-coundown-number">0</div>

                            <svg width="30" height="30" class="confetti-coundown-svg ">
                                <circle r="13" cx="15" cy="15" class="confetti-coundown-bg"></circle>

                                <circle r="13" cx="15" cy="15" class="confetti-coundown-stroke"></circle>
                            </svg>

                        </div>
                    </div>
                    <div class="confetti-noti-txt ml-3">
                        Question 2 of 10
                    </div>

                </div>


                <div class="confetti-noti is-success">
                    <div class="confetti-noti-icon">
                        <img src="images/confetti/checked.svg" width="20" alt="">
                    </div>
                    <div class="confetti-noti-txt ml-3">
                        Đáp án đúng (369 người trả lời đúng)
                    </div>

                </div>


                <div class="confetti-noti is-wrong">
                    <div class="confetti-noti-icon">
                        <img src="images/confetti/wrong.svg" width="16" alt="">
                    </div>
                    <div class="confetti-noti-txt ml-3">
                        Wrong answer !!!
                    </div>

                </div>

            </div>
            <div class="confetti-container">
                <div class="confetti-question">
                    You never win with violence. You only win when you maintain your dignity ?
                </div>

                <div class="confetti-ans">
                    <div class="confetti-ans-item is-inactive d-none">
                        <div class="confetti-ans-progess" style="width: 23%"></div>
                        <div class="confetti-ans-total">2.5k</div>
                        <div class="confetti-ans-content">
                            Green Book
                        </div>
                    </div>
                    <div class="confetti-ans-item">
                        <div class="confetti-ans-progess" style="width: 23%"></div>
                        <div class="confetti-ans-total">2.5k</div>
                        <div class="confetti-ans-content">
                            Gattaca
                        </div>
                    </div>

                    <div class="confetti-ans-item">
                        <div class="confetti-ans-progess" style="width: 8%"></div>
                        <div class="confetti-ans-total">1.5k</div>
                        <div class="confetti-ans-content">
                            The Intouchable
                        </div>
                    </div>

                    <div class="confetti-ans-item is-correct">
                        <div class="confetti-ans-progess" style="width: 68%"></div>
                        <div class="confetti-ans-total">30.5K</div>
                        <div class="confetti-ans-content">
                            Philomena
                        </div>
                    </div>

                    <div class="confetti-ans-item is-active">
                        <!-- <div class="confetti-ans-progess" style="width: 100%"></div> -->
                        <div class="confetti-ans-total">30.5K</div>
                        <div class="confetti-ans-content">
                            Green Book
                        </div>
                    </div>
                </div>
            </div>


            <div class="confetti-progress">
                <div class="confetti-progress-item is-disable">
                    1
                </div>

                <div class="confetti-progress-item is-right">
                    2
                </div>

                <div class="confetti-progress-item is-wrong">
                    3
                </div>

                <div class="confetti-progress-item  is-right">
                    4
                </div>
                <div class="confetti-progress-item is-right">
                    5
                </div>

                <div class="confetti-progress-item is-active">
                    6
                </div>

                <div class="confetti-progress-item">
                    7
                </div>
            </div>
        </div>

        <div class="cf-function">


            <div class="row no-gutters">
                <div class="col-auto">
                    <a href="" class="text-momo-footer font-12">momo.vn</a>
                </div>
                <div class="col text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item text-white">
                            1250 đang tham gia
                        </li>

                        <li class="list-inline-item">
                            <a href="">Chia sẽ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>




</div>




{% endblock %}

{% block footer %}

{% endblock %}







{% block popup %}

{% include "layouts/game-modal.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}


<!-- Jquery Countdown + Moment -->
<script src="js/game/jquery.countdown.min.js"></script>
<script src="js/game/moment.min.js"></script>
<script src="js/game/moment-timezone-with-data.min.js"></script>




<script>
    var countdownEle = $(".confetti-coundown");
    var countdownNumberEl = document.getElementById('confetti-coundown-number');


    function starAnswer() {


        countdownEle.addClass("is-active");

        var countdown = 10;
        countdownNumberEl.textContent = countdown;


        var newInterval = setInterval(function () {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;

            if (countdown < 4 && countdown > 0) {
                countdownEle.addClass("is-ending");
            } else {
                countdownEle.removeClass("is-ending");
            }
        }, 1000);

        setTimeout(function () {
            clearInterval(newInterval);
            countdownNumberEl.textContent = 0;
        }, 10000);
    }



    $(document).ready(function () {

        $("#toggleConfetti").on("click", function (e) {
            e.preventDefault();
            $('.confetti-position').toggleClass("md-show");
        });
        starAnswer();


    });
</script>


{% endblock %}