{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{% endblock %}

{% block content %}


<link rel="stylesheet" href="stylesheets/theme-game.css">


<style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .rs-background-video-layer iframe {
        visibility: inherit !important;
    }
</style>


<div class="game-container " >

    <div class="game-container-pattern" style="background-image: url('images/game/space.png')">

    </div>


    <div class="cf-header">

        <img src="images/game/logo-game1.jpg" class="img-fluid mx-auto d-block" alt="">

    </div>
    <div class="cf-question">
        <!--     <div class="embed-responsive embed-responsive-16by9 d-none">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6HWF0BQhCyU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div> -->

        <div class="container">

            <div class="cf-btn-group">
                <!--   <a href="#" class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-facebook btn-block">

                    <img class="cf-btn-icon" src="images/confetti/facebook.svg" width="26" alt="">

                    Đăng nhập bằng
                    Facebook</a>

                <a href="#" class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-main-1 btn-block">

                    <img class="cf-btn-icon" src="images/confetti/google.svg" width="26" alt="">

                    Đăng nhập bằng
                    Google</a> -->
<!-- 
                    <a href="#modalLogin" class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-dark-4 btn-block"
                    data-toggle="modal">Đăng nhập bằng Số điện
                    thoại</a> -->

                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-white">Số điện thoại của bạn</label>
                        <input type="email" class="form-control form-control-lg cf-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Phone number">
                        <small id="emailHelp" class="form-text text-light mt-10 text-white-50">We'll never share your email with anyone
                            else.</small>
                    </div>
                  
                    <a href="game-confetti.html" class=" mt-20 nk-btn nk-btn-lg  nk-btn-x3 nk-btn-rounded nk-btn-color-main-1 btn-block">Đăng nhập</a>
                </form>

               
            </div>

        </div>
    </div>


    <div class="cf-footer">
        <div class="text-center">
            <a href="" class="text-momo-footer font-12">momo.vn</a>
        </div>
    </div>




</div>





{% endblock %}

{% block footer %}



{% endblock %}






{% block popup %}

{% include "layouts/game-modal.html" %}

{% include "layouts/confetti-modal-login.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}


<!-- Jquery Countdown + Moment -->
<script src="js/game/jquery.countdown.min.js"></script>
<script src="js/game/moment.min.js"></script>
<script src="js/game/moment-timezone-with-data.min.js"></script>


<script>

    var template = `
             <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%D</span>
                <small>Days</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%H</span>
                <small>Hours</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%M</span>
                <small>Minutes</small>
            </div>
            <div class="nk-hexagon">
                <div class="nk-hexagon-inner"></div>
                <span>%S</span>
                <small>Seconds</small>
            </div>`;

    $('.nk-countdown').each(function () {
        const tz = $(this).attr('data-timezone');
        let end = $(this).attr('data-end');
        end = moment.tz(end, tz).toDate();

        $(this).countdown(end, function (event) {
            $(this).html(event.strftime(template));
        });
    });





    var countdownEle = $(".confetti-coundown");
    var countdownNumberEl = document.getElementById('confetti-coundown-number');

    function starAnswer() {

        countdownEle.addClass("is-active");

        var countdown = 10;
        countdownNumberEl.textContent = countdown;


        var newInterval = setInterval(function () {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;

            if (countdown < 4 && countdown > 0) {
                countdownEle.addClass("is-ending");
            } else {
                countdownEle.removeClass("is-ending");
            }
        }, 1000);

        setTimeout(function () {
            clearInterval(newInterval);
            countdownNumberEl.textContent = 0;
        }, 10000);
    }



    $(document).ready(function () {

        $("#toggleConfetti").on("click", function (e) {
            e.preventDefault();
            $('.confetti-position').toggleClass("md-show");
        });
        // starAnswer();
    });
</script>

{% endblock %}