{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{{super()}}
{% endblock %}

{% block content %}




<div class="game-container " style="background-image: url('images/game/bg-game.jpg')">
    <div class=" luckydraw-in">
        <div class="row no-gutters">
            <div class="col-12 col-lg-12 mt-3 mb-2">
                <img src="https://static.mservice.io/blogscontents/momo-upload-api-1-quayso-181217084940.png"
                    class="img-fluid d-block" alt="" style="max-height:95px;margin:0 auto;">
            </div>

        </div>

        <div class=" text-center">

            <div class="winwheel-container" style="background-image: url('images/game/vongquay-bg.png')">

                <img id="spin_button" src="images/game/quayso-btn.png" class="img-fluid mx-auto d-block" width="70"
                    alt="Spin" onClick="startSpin();" />



                <canvas id="canvas" class="winwheel" width="580" height="580" data-responsiveMinWidth="260"
                    data-responsiveScaleHeight="true" data-responsiveMargin="50">
                    <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try
                        another.
                    </p>
                </canvas>
            </div>


        </div>


    </div>

    <div class="container py-2 pb-3">
        <div class="row no-gutters ">
            <div class="col-4">

                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-gift"></use>
                    </svg>


                    QUÀ TẶNG
                </a>

            </div>



            <div class="col-4" style="padding-right:0px">
                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg3" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-plus"></use>
                    </svg> THÊM LƯỢT
                </a>
            </div>
            <div class="col-4 " style="padding-right:0px">
                <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg2" data-toggle="modal">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-question-circle"></use>
                    </svg> HƯỚNG DẪN
                </a>

            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block footer %}

{% endblock %}



{% block popup %}

{% include "layouts/game-modal.html" %}

{% endblock %}

{% block javascript %}


{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="js/game/Winwheel.min.js"></script>

<script>
    // Create new wheel object specifying the parameters at creation time.
    let theWheel = new Winwheel({
        'numSegments': 8,         // Specify number of segments.
        'outerRadius': 290,       // Set outer radius so wheel fits inside the background.
        // 'drawMode': 'image',   
        'drawMode': 'segmentImage',
        'responsive': true,  // This wheel is responsive!
        // 'rotationAngle'   : -50,        
        // 'imageOverlay' : true,     

        'drawText': true,         // Need to set this true if want code-drawn text on image wheels.
        'textFontSize': 0,
        'textOrientation': 'curved',
        'textFontWeight': 'normal',
        'textAlignment': 'outer',
        'textMargin': 30,
        'textFontFamily': 'Courier, Roboto, sans-serif',
        'textFillStyle': 'white',

        'segments':                // Define segments.
            [
                { 'image': 'images/game/vq-1.png', 'text': 'Voucher vé \n đwd' },
                { 'image': 'images/game/vq-2.png', 'text': 'Đồng hồ Garmin' },
                { 'image': 'images/game/vq-1.png', 'text': 'Chuột Fuhlen' },
                { 'image': 'images/game/vq-2.png', 'text': 'Thẻ cào điện thoại' },
                { 'image': 'images/game/vq-1.png', 'text': 'Chuột Fuhlen' },
                { 'image': 'images/game/vq-2.png', 'text': 'Đồng hồ Garmin' },
                { 'image': 'images/game/vq-1.png', 'text': 'Thanh toán HD' },
                { 'image': 'images/game/vq-2.png', 'text': 'Ăn kichi kichi' }
            ],
        'animation':                   // Specify the animation to use.
        {
            'type'     : 'spinOngoing',
            'duration': 6,     // Duration in seconds.
            'spins': 8,     // Number of complete spins.
            'callbackSound': playSound,
            'callbackFinished' : alertPrize
        }
    });

    let theme = new Audio('js/game/theme.mp3');

    let audio = new Audio('js/game/tick.mp3');

    function stopWheel(stopAngleResult){
        let stopAt = theWheel.getRandomForSegment(stopAngleResult);
        // theWheel.stopAnimation();
        theWheel.draw();
        theWheel.animation.type = 'spinToStop';
        theWheel.animation.easing = 'Power1.easeOut';
        theWheel.animation.repeat = 0;
        theWheel.animation.stopAngle = stopAt;
        theWheel.animation.duration = 9;
        console.log(stopAngleResult);
        theWheel.startAnimation();
    }

    function playSound() {
        var spinBtn = document.getElementById('spin_button');

        var tl = new TimelineMax();

        var animationTime = 0.05;

        tl.to(spinBtn, 0.05, {
            rotation: 8,
            transformOrigin: "35px 55px",
            ease:  Power1.easeOut
        }).to(spinBtn, 0.05,{
            rotation: 0,
            transformOrigin: "35px 55px",
            ease:  Power1.easeIn
        });

        tl.timeScale(0.8);
  
    }

    // Create new image object in memory.
    let loadedImg = new Image();

    // Create callback to execute once the image has finished loading.
    loadedImg.onload = function () {
        theWheel.wheelImage = loadedImg;    // Make wheelImage equal the loaded image object.
        theWheel.draw();                    // Also call draw function to render the wheel.
    }

    // Set the image source, once complete this will trigger the onLoad callback (above).
    loadedImg.src = "images/game/vongquay-rong.png";



    // Vars used by the code in this page to do power controls.
    let wheelSpinning = false;

    let segmentNumber = '';



    function calculatePrizeAjax() {
        $.ajax({
            url: "https://dog.ceo/api/breeds/image/random",

            success: function (result) {
                // console.log(result.number);
                // segmentNumber = result.number;
                // startSpin();
                segmentNumber =  Math.floor(Math.random() * (8 - 1) + 1);
                setTimeout(function(){
                    console.log("bat dau dung");
                    stopWheel(segmentNumber);
                }, 2000)
            },

            error: function () {
                alert("da xay ra loi");
                location.reload();
                return;
            }
        });
    }

    // calculatePrizeAjax();
    // -------------------------------------------------------
    // Click handler for spin button.
    // -------------------------------------------------------
    function startSpin() {


        if (wheelSpinning == false) {
          

            // Play the sound and begin the animation of the wheel.
            theme.loop = true;
            theme.play();
            // Disable the spin button so can't click again while wheel is spinning.
            document.getElementById('spin_button').className = "quayso-disable";

            // Begin the spin animation by calling startAnimation on the wheel object.
            theWheel.startAnimation();

            // Set to true so that power can't be changed and spin button re-enabled during
            // the current animation. The user will have to reset before spinning again.
            wheelSpinning = true;

            calculatePrizeAjax();
        }

      
    }

    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel() {

        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
        theWheel.draw();                // Call draw to render changes to the wheel.
        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.

    }

    // -------------------------------------------------------
    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
    // note the indicated segment is passed in as a parmeter as 99% of the time you will want to know this to inform the user of their prize.
    // -------------------------------------------------------
    function alertPrize(indicatedSegment) {
        // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
        console.log(indicatedSegment);
        theme.pause();
        theme.currentTime = 0;

        $("#alertTextModal").modal("show");

    }


</script>

{% endblock %}