{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}
{% endblock %}

{% block content %}


<link rel="stylesheet" href="stylesheets/theme-game.css">


<style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .rs-background-video-layer iframe {
        visibility: inherit !important;
    }
</style>


<div class="game-container ">

    <div class="game-container-pattern" style="background-image: url('images/game/space.png')">

    </div>
    <div class="cf-header">

        <img src="images/game/logo-game1.jpg" class="img-fluid mx-auto d-block" alt="">

    </div>

    <div class="cf-question">
        <div class="position-relative">
            <div id="scene-circles" class="">
                <div id="main-circle1">
                    <img src="images/game/xoay/scene-layer1.png">
                </div>

                <div id="main-circle2">
                    <img src="images/game/xoay/scene-layer2.png">
                </div>

                <div id="main-circle3">
                    <img src="images/game/xoay/scene-layer3.png">
                </div>

                <div id="main-circle-center">
                    <img src="images/game/xoay/scene-layer-center.png">
                </div>
            </div>
        </div>

    </div>



    <div class="cf-footer">

        <div class="confetti-position md-show md-effect-14">



            <div class="confetti-progress">
                <div class="confetti-progress-item is-disable">
                    1
                </div>

                <div class="confetti-progress-item is-right">
                    2
                </div>

                <div class="confetti-progress-item is-wrong">
                    3
                </div>

                <div class="confetti-progress-item  is-right">
                    4
                </div>
                <div class="confetti-progress-item is-right">
                    5
                </div>

                <div class="confetti-progress-item is-active">
                    6
                </div>

                <div class="confetti-progress-item">
                    7
                </div>
            </div>
        </div>

        <div class="cf-function">


            <div class="row no-gutters">
                <div class="col-auto">
                    <a href="" class="text-momo-footer font-12">momo.vn</a>
                </div>
                <div class="col text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item text-white">
                            1250 đang tham gia
                        </li>

                        <li class="list-inline-item">
                            <a href="">Chia sẽ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>




</div>





{% endblock %}

{% block footer %}

{% endblock %}







{% block popup %}

{% include "layouts/game-modal.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}


<!-- Jquery Countdown + Moment -->
<script src="js/game/jquery.countdown.min.js"></script>
<script src="js/game/moment.min.js"></script>
<script src="js/game/moment-timezone-with-data.min.js"></script>




<script>
    var countdownEle = $(".confetti-coundown");
    var countdownNumberEl = document.getElementById('confetti-coundown-number');

    function starAnswer() {


        countdownEle.addClass("is-active");

        var countdown = 10;
        countdownNumberEl.textContent = countdown;


        var newInterval = setInterval(function () {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;

            if (countdown < 4 && countdown > 0) {
                countdownEle.addClass("is-ending");
            } else {
                countdownEle.removeClass("is-ending");
            }
        }, 1000);

        setTimeout(function () {
            clearInterval(newInterval);
            countdownNumberEl.textContent = 0;
        }, 10000);
    }

    $(document).ready(function () {

        $("#toggleConfetti").on("click", function (e) {
            e.preventDefault();
            $('.confetti-position').toggleClass("md-show");
        });
        starAnswer();



    });
</script>


{% endblock %}