{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<div class="banner-slider-container">
    <div class="banner-slider  swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <div class="banner-slider-item shadow-sm ">
                    <div class="embed-responsive embed-responsive-slider">
                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-lette-cine-181228175001.jpg"
                            alt="img" class="img-fluid embed-responsive-img" /></div>
                </div>

            </div>

            <div class="swiper-slide">
                <div class="banner-slider-item shadow-sm  ">
                    <div class="embed-responsive embed-responsive-slider">
                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-viber%20image%202019-03-01%20,%2016.55.36-190304094541.jpg"
                            alt="img" class="img-fluid embed-responsive-img" />
                    </div>

                </div>


            </div>

            <div class="swiper-slide">

                <div class="banner-slider-item shadow-sm  ">
                    <div class="embed-responsive embed-responsive-slider">
                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-le-trao-giai-homebanner-190304093004.jpg"
                            alt="img" class="img-fluid embed-responsive-img" />
                    </div>

                </div>

            </div>


        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-black"></div>

    </div>
</div>

<div class="home-menu">
    <div class="container">
        <div class="row no-gutters">

            {% for name, item in navigation %}


            <div class="col-4">
                <div class="home-menu-item">
                    <a href="{{name}}" class="link-absolute"></a>
                    <div class="home-menu-icon">
                        <img data-src="images/home/{{item.icon}}" width="50" height="50" class="lazyload center-block"
                            alt="">
                    </div>

                    <div>
                        {{item.name}}
                    </div>

                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</div>


<section class="parcel">
    <div class="container">


        <div class="decoration"></div>

        <h2 class="mb-3">Quà tặng mỗi ngày</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item ">
                    <a href="promotion.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-banner_app%20ct100k_300x350-190103100120.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Quà tặng Chợ Tốt
                    </div>
                    <div class="izlu-item-note">
                        Hốt 100.000 đồng Chợ Tốt - Quảng cáo tốt, xả hàng nhanh
                    </div>

                </div>


                <div class="izlu-item ">
                    <a href="promotion.html" class="link-absolute" title="Vé Xem Phim CGV"></a>
                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-avata-cgv%20(1)-181231100921.jpg"
                                class="img-fluid rounded lazyload" alt="Vé Xem Phim CGV">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Vé Xem Phim CGV
                    </div>
                    <div class="izlu-item-note">
                        Mua vé xem phim CGV bằng Ví MoMo giá chỉ từ 9.000đ.
                    </div>


                </div>
                <div class="izlu-item ">
                    <a href="promotion.html" class="link-absolute" title="Giới thiệu Bạn Bè"></a>
                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-gtbb%2004-300x350-181231144654.jpg"
                                class="img-fluid rounded lazyload" alt="Giới thiệu Bạn Bè">
                        </div>
                    </div>


                    <div class="izlu-item-name">
                        Giới thiệu Bạn Bè
                    </div>
                    <div class="izlu-item-note">
                        Tặng ngay 100.000đ cho mỗi lần giới thiệu bạn bè sử dụng Ví MoMo
                    </div>


                </div>
                <div class="izlu-item ">
                    <a href="promotion.html" class="link-absolute" title="Thanh Toán Hóa Đơn"></a>
                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-mps-banner_350x300-190102145709.jpg"
                                class="img-fluid rounded lazyload" alt="Thanh Toán Hóa Đơn">
                        </div>
                    </div>


                    <div class="izlu-item-name">
                        Thanh Toán Hóa Đơn
                    </div>
                    <div class="izlu-item-note">
                        Thanh toán hóa đơn bằng Ví MoMo, Ai cũng có quà!
                    </div>

                </div>
                <div class="izlu-item ">
                    <a href="promotion.html" class="link-absolute" title="Liên Kết Tài Khoản"></a>
                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-lktk%20300kdefault-website-250%20x%20300-190103134853.jpg"
                                class="img-fluid rounded lazyload" alt="Liên Kết Tài Khoản">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Liên Kết Tài Khoản
                    </div>
                    <div class="izlu-item-note">
                        Liên kết Ví MoMo với tài khoản ngân hàng nhận ngay quà tặng 300.000đ
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>


<section class="parcel">
    <div class="container">


        <div class="decoration"></div>

        <h2 class="mb-3">Tin tức nổi bật</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-new">
                    <a href="blog.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-momo_1200x630%20(1)-190327152313.png"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Khuyến mãi</div>
                        <div class="izlu-item-name">
                            Giảm ngay 50.000 đồng khi thanh toán hóa đơn ADAYROI qua Ví MoMo
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>


                <div class="izlu-item izlu-new">
                    <!--<a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>-->
                    <a href="blog.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-1200x628%20-%20adayroi-190325105912.png"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Khuyến mãi</div>
                        <div class="izlu-item-name">
                            Tải Ví MoMo - Hô biến 500.000 đồng hiện ra - Thả ga mua sắm
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>


                <div class="izlu-item izlu-new">
                    <!--<a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>-->
                    <a href="blog.html" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-new">
                        <div class="embed-responsive-img">

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-a-190314142856.jpg"
                                class="img-fluid  lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-new-content">
                        <div class="izlu-new-eyebrow">Tin tức</div>
                        <div class="izlu-item-name">
                            Đặt món trực tuyến ngay trên Ví MoMo, tiện lợi khỏi phải nghĩ ngợi!
                        </div>
                        <div class="izlu-item-note">
                            <span>3 ngày trước</span> <span class="px-1"> &#8226;</span> <span>2525 lượt xem</span>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<section class="parcel">
    <div class="container">


        <div class="decoration"></div>

        <h2 class="mb-3">Chơi game nhận tiền</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-game">
                    <a href="game-luckydraw.html" class="link-absolute">

                    </a>

                    <div class="izlu-game-img ">
                        <img data-src="images/game/game-quayso.jpg" class="img-fluid lazyload" alt="">
                    </div>

                    <div class="izlu-game-title">
                        Quay số may mắn

                        <div class="izlu-game-count">
                            109000 người chơi
                        </div>
                    </div>

                </div>

                
                <div class="izlu-item izlu-game">
                    <a href="game-winwheel.html" class="link-absolute">

                    </a>
                    <div class="izlu-game-img ">
                        <img data-src="images/game/game-vongquay.jpg" class="img-fluid lazyload" alt="">
                    </div>

                    <div class="izlu-game-title">
                        Vòng quay may mắn

                        <div class="izlu-game-count">
                            25810 người chơi
                        </div>
                    </div>

                </div>


                <div class="izlu-item izlu-game">
                    <a href="game-confetti.html" class="link-absolute">

                    </a>
                    <div class="izlu-game-img ">
                        <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-190610094900-636957569400644495.jpg" class="img-fluid lazyload" alt="">
                    </div>

                    <div class="izlu-game-title">
                        Trả lời câu hỏi
                        <div class="izlu-game-count">
                            2333 người chơi
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="parcel">

    <div class="container">

        <div class="decoration"></div>

        <h2 class="mb-3 ">Tính năng nổi bật</h2>

        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-1.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>

                </div>

                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-2.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>



                </div>


                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-3.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>



                </div>


                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-4.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>



                </div>


                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-5.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>




                </div>

                <div class="izlu-item izlu-item-lg">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="images/step/app-6.jpg" class="img-fluid rounded-lg lazyload" alt="">
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>

</section>


<section class="parcel">

    <div class="container">

        <div class="decoration"></div>

        <h2 class="mb-1 ">Nạp tiền</h2>

        <div class="mb-3 text-gray-dark ">
            Nạp tiền điện thoại, thẻ game, thẻ cào... qua Ví MoMo với nhiều ưu đãi hấp dẫn, được hoàn tiền ngay.
        </div>


        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-naptien-2-181001110222.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Mobifone
                    </div>


                </div>

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-naptien-3-181001110301.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Vinaphone

                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-naptien-5-181001110343.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Gmobile

                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-naptien-4-181001110359.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Vietnammobile

                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-naptien-1-181001110324.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Viettel

                    </div>


                </div>

            </div>
        </div>
    </div>

</section>


<section class="parcel">

    <div class="container">

        <div class="decoration"></div>

        <h2 class="mb-1 ">Thanh toán hóa đơn</h2>

        <div class="mb-3 text-gray-dark ">
            Ứng dụng Ví MoMo hỗ trợ thanh toán nhanh chóng và dễ dàng các loại hóa đơn tiền điện, nước, internet... chỉ
            trong vài giây.
        </div>


        <div class="izlu-container-scroll">
            <div class="izlu-container  ">

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-thanhtoan-1-180926171532.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Thanh toán tiền điện
                    </div>


                </div>

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-tt-nuoc-181220174347.png"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Thanh toán tiền nước
                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-thanhtoan-3-180926171604.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Thanh toán tiền Internet
                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-thanhtoan-4-180926171625.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Điện Thoại Cố Định
                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-thanhtoan-5-180926171641.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Truyền Hình
                    </div>


                </div>

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-tt-cc-181220172805.png"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Thanh toán phí chung cư
                    </div>


                </div>

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-tt-vay-tieu-dung2-181227111904.png"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Vay tiêu dùng
                    </div>


                </div>


            </div>
        </div>


    </div>

</section>


<section class="parcel">

    <div class="container">

        <div class="decoration"></div>

        <h2 class="mb-1 ">Chuyển nhận tiền</h2>

        <div class="mb-3 text-gray-dark ">
            Nạp/chuyển tiền 24/7 cực dễ dàng từ các ngân hàng liên kết với Ví MoMo và hệ thống nạp/rút tiền của Ví MoMo
            trên khắp cả nước.
        </div>

        <div class="izlu-container-scroll">

            <div class="izlu-container  ">

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-money-1-180926144847.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">
                        Dịch Vụ Chuyển Tiền
                    </div>


                </div>

                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-money-2-180926144910.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Dịch Vụ Yêu Cầu Chuyển Tiền

                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-money-3-180926145044.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Dịch Vụ Nhận Tiền

                    </div>


                </div>


                <div class="izlu-item ">
                    <a href="/chotot" class="link-absolute" title="Quà tặng Chợ Tốt"></a>

                    <div class="embed-responsive embed-responsive-product">
                        <div class="embed-responsive-img">
                            <img data-src="https://static.mservice.io/img/s210x244/momo-upload-api-money-4-180926145113.jpg"
                                class="img-fluid rounded lazyload" alt="Quà tặng Chợ Tốt">
                        </div>
                    </div>

                    <div class="izlu-item-name">

                        Dịch Vụ Gửi Tiền Mừng

                    </div>


                </div>


            </div>
        </div>

    </div>

</section>


<section class="parcel">

    <div class="container">

        <div class="decoration "></div>

        <h4 class="mb-3 ">Ba Bước Để Trở Thành Khách Hàng Ví MoMo</h4>


        <div class="htu-step">

            <div class="htu-step-item popup-button" data-toggle="modal" data-target="#htu-modal">
                <h5 class="htu-step-title mb-0">Bước 1 : Tải và đăng ký</h5>
                <div class="htu-step-sub">5 hình hướng dẫn</div>

                <div class="htu-step-arrow">

                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                    </svg>

                </div>

            </div>

            <div class="htu-step-item popup-button">
                <div data-toggle="collapse" data-target="#collapseBank" aria-expanded="false"
                    aria-controls="collapseBank">
                    <h5 class="htu-step-title mb-0">Bước 2 : Liên kết tài khoản</h5>
                    <div class="htu-step-sub">5 hình hướng dẫn</div>

                    <div class="htu-step-arrow">

                        <svg class="svg-inline svg  ">
                            <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                        </svg>

                    </div>
                </div>


                <div class="htu-step-expand mt-3 collapse" id="collapseBank">
                    <h6 class="font-weight-normal text-center">Chọn ngân hàng liên kết</h6>

                    <ul class="list-unstyled  htu-bank">
                        {% for item in range(0,2) %}
                        <li class="htu-bank-col popup-button" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-bank-item">
                                <img src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                                    class="d-block mx-auto img-fluid" alt="">
                                <div>
                                    VCB
                                </div>
                            </div>
                        </li>

                        <li class="htu-bank-col popup-button" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-bank-item">
                                <img src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                                    class="d-block mx-auto img-fluid" alt="">
                                <div>
                                    Agribank
                                </div>
                            </div>
                        </li>

                        <li class="htu-bank-col popup-button" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-bank-item">
                                <img src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                                    class="d-block mx-auto img-fluid" alt="">
                                <div>
                                    Vietinbank
                                </div>
                            </div>
                        </li>

                        <li class="htu-bank-col popup-button" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-bank-item">
                                <img src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                                    class="d-block mx-auto img-fluid" alt="">
                                <div>
                                    BIDV
                                </div>
                            </div>
                        </li>


                        <li class="htu-bank-col popup-button" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-bank-item">
                                <img src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                                    class="d-block mx-auto img-fluid" alt="">
                                <div>
                                    ACB
                                </div>
                            </div>
                        </li>

                        {% endfor %}

                    </ul>
                </div>


            </div>

            <div class="htu-step-item popup-button" data-toggle="modal" data-target="#htu-modal">
                <h5 class="htu-step-title mb-0">Bước 3 : Nạp tiền vào ví</h5>
                <div class="htu-step-sub">5 hình hướng dẫn</div>

                <div class="htu-step-arrow">

                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                    </svg>

                </div>

            </div>

        </div>


    </div>
</section>


<section class="parcel download-parcel" style="background-image: url(images/download/download-bg.jpg)">
    <div class="container">

        <div class="mb-3">
            <img src="images/momo-square-logo.png" width="50" class="d-block mx-auto img-fluid" alt="">
        </div>

        <h2 class="text-center ">Tải ứng dụng Momo ngay</h2>
        <h5 class="font-weight-normal  text-center download-parcel-sub">Cơ hội nhận quà lên đến 100.000đ </h5>

        <div class="text-center mt-4">
            <a href="" class="btn btn-momo2 btn-lg font-weight-bold  ">Tải xuống
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-download"></use>
                </svg>

            </a>
        </div>


    </div>
</section>



<section class="parcel">

    <div class="container">

        <h4 class="mb-3 "> Thanh toán an toàn - Bảo mật tuyệt đối</h4>


        <div class="swiper-container single-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <div class="pb-3">

                        <div class="mb-2">
                            <img data-src="https://static.mservice.io/styles/desktop/images/feature/bao-chung-ngan-hang.png"
                                width="230" class="img-fluid mx-auto d-block swiper-lazy" alt="">
                        </div>

                        <div class="text-center font-weight-bold mb-1 h5">Bảo chứng ngân hàng</div>


                        <ul class="font-13 text-secondary pl-4">
                            <li class="mb-2">
                                Tiền trong tài khoản Ví MoMo được bảo chứng bởi Vietcombank.
                            </li>
                            <li class="mb-2">
                                Được Ngân Hàng Nhà Nước cấp giấy phép và quản lý dịch vụ Ví điện tử năm 2015.
                            </li>
                            <li>
                                Là đối tác chiến lược của các ngân hàng lớn như: Vietcombank, VietinBank, AgriBank,
                                BIDV, ACB, TPBank, VPBank, EximBank, OCB, VIB, Shinhan Bank, SCB, SacomBank, VRB,
                                BAOVIET Bank và các tổ chức thẻ Visa/Master/JCB.
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="swiper-slide">

                    <div class="pb-3">

                        <div class="mb-2">
                            <img data-src="https://static.mservice.io/styles/desktop/images/feature/02.png" width="230"
                                class="img-fluid mx-auto d-block swiper-lazy" alt="">
                        </div>

                        <div class="text-center font-weight-bold mb-1 h5">Bảo mật đa tầng</div>


                        <ul class="font-13 text-secondary pl-4">
                            <li class="mb-2">
                                Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến điện thoại. Mỗi lần thanh
                                toán đều cần nhập lại mật khẩu.
                            </li>
                            <li class="mb-2">
                                Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="swiper-slide">

                    <div class="pb-3">

                        <div class="mb-2">
                            <img data-src="https://static.mservice.io/styles/desktop/images/feature/03.png" width="230"
                                class="img-fluid mx-auto d-block swiper-lazy" alt="">
                        </div>

                        <div class="text-center font-weight-bold mb-1 h5">Đạt chuẩn quốc tế</div>


                        <ul class="font-13 text-secondary pl-4">
                            <li class="mb-2">
                                Công nghệ bảo mật của Ví MoMo đáp ứng các tiêu chuẩn quốc tế khắt khe nhất trong ngành
                                tài chính ngân hàng, đạt chứng nhận bảo mật toàn cầu PCI DSS cấp độ cao nhất.
                            </li>
                            <li class="mb-2">
                                Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-black"></div>
        </div>


    </div>
</section>

{% endblock %}


{% block popup %}




{% endblock %}