{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block header %}



{% endblock %}

{%  block topcontent %}
<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item ">
            <a href="cashback.html" class="btn  promotion-footer-btn text-gray btn-lg btn-link pl-0">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
                </svg> Quay lại
            </a>
        </div>

        <div class="promotion-footer-item flex-fill">

            <a href="#exampleModalScrollable" data-toggle="modal"
                class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Đóng góp
            </a>

        </div>

    </div>

</div>

<!-- Modal -->


{% endblock %}

{% block content %}




<div class="container promotion-container">
    <div class="row">


        <div class="favor-hero">

            <div class="favor-hero-img">

                <div class="favor-hero-bg"
                    style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-190624115841-636969743219623026.jpg')">
                </div>


                <div class="favor-hero-brand overflow-hidden favor-hero-avatar">
                    <img src="images/momo-logo.png" class="img-object-cover" alt="">
                </div>
            </div>

            <div class="favor-present  pb-0 ">
                <div class="izlu-favor-note yellow font-weight-bold text-uppercase">
                    <span>Hỗ trợ bệnh nhi Ung thư</span>
                </div>

                <h1 class="favor-title">Ước mơ của Thúy</h1>

                <div class="favor-desc">
                    Chương trình chăm sóc và hỗ trợ bệnh nhi ung thư đang điều trị :
                    chúc mừng sinh nhật, tặng quà ước nguyện, kinh phí điều trị bệnh, ngày hội hoa hướng dương
                    "Vì bệnh nhi ung thư"
                </div>
                <div>
                    <div class="favor-total-price ">
                        <div class="label ">Tổng số tiền ủng hộ (1566 người)</div>

                        <div class="price">
                            105.000.000 <span>VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="favor-result row no-gutters align-items-center d-none">
                    <div class="col-auto">
                        <div class="favor-splash d-none">

                        </div>
                    </div>

                    <div class="col">

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">


            <div class="favor-section ">
                <h4 class="favor-section-title">
                    Thông tin chương trình
                </h4>

                <div class="favor-section-content post-body">
                    <p>
                        Chương trình áp dụng từ ngày 10/6 - 30/6/2019
                    </p>

                    <ul class="mb-0">
                        <li>Đổi điểm Momo để đóng góp chương trình "Ước mơ của Thúy"</li>
                        <li>Mỗi khách hàng có thể đổi và đóng góp nhiều lần</li>
                    </ul>
                </div>
            </div>

            <div class="favor-section  " id="menuHinhanh">
                <h4 class="favor-section-title">
                    Hình ảnh
                </h4>

                <div class="row sm-gutters popup-gallery">
                    {% for item in range(0,2) %}
                    <div class="col-4">
                        <a href="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                            title="The Cleaner" class="d-block">
                            <div class="embed-responsive embed-responsive-1by1 rounded mb-3">

                                <img src="https://photo-3-baomoi.zadn.vn/w700_r1/2017_11_26_293_24085634/03a1bbe84aaea3f0fabf.jpg"
                                    class="embed-responsive-img img-object-cover" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="col-4">
                        <a href="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                            title="The Cleaner" class="d-block">
                            <div class="embed-responsive embed-responsive-1by1 rounded mb-3">
                                <img src="http://image.baolongan.vn/news/2017/20171126/fckimage/9037_6-1511525801432-1511527261476-1511626639388.png"
                                    class="embed-responsive-img img-object-cover" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="col-4">
                        <a href="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                            title="The Cleaner" class="d-block">
                            <div class="embed-responsive embed-responsive-1by1 rounded mb-3">
                                <img src="https://cdn.tuoitre.vn/2017/gia-dinh-tram-2-2read-only-1511665682028.jpg"
                                    class="embed-responsive-img img-object-cover" alt="">
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>

            <div class="favor-section ">
                <h4 class="favor-section-title">

                    Các cá nhân đóng góp
                </h4>
                <div class="favor-section-content">

                    <ul class="favor-people list-unstyled mb-0">
                        {% for item in range(0,5) %}
                        <li class="row no-gutters align-items-center item">

                            <div class="col">
                                <div class="name ">Nguyên Văn B</div>
                                <div class="phone">093556xxx</div>
                            </div>

                            <div class="col-auto">
                                <div class="money ">100.000₫ </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>

                    <div class="mt-3">
                        <a href="#" class="btn btn-outline btn-block mt-2">Xem thêm (2345 người ủng hộ)</a>

                    </div>




                </div>
            </div>
            <div class="favor-section">
                <h4 class="favor-section-title">
                    Liên hệ
                </h4>


                <div class="favor-section-content post-body">
                    <p>
                        Nếu bạn gặp bất cứ vấn đề gì khi đóng góp hoặc muốn tìm hiểu thêm về chương trình,
                        hãy liên lạc với chúng tôi

                    </p>

                    <div class=" py-3 border-bottom">
                        <div class="row sm-gutters mb-2">
                            <div class="col-4">
                                Thứ 2 - Thứ 6 :
                            </div>
                            <div class="col-8">10:00 AM - 11:00 PM</div>
                        </div>

                        <div class="row sm-gutters ">
                            <div class="col-4">
                                Thứ 7 - CN :
                            </div>
                            <div class="col-8">2:00 AM - 11:00 PM</div>
                        </div>
                    </div>

                    <div class="py-3  align-items-center row sm-gutters border-bottom">
                        <div class="col">
                            125 Võ Thị Sáu, Q.3 TP. HCM
                        </div>
                        <div class="col-auto">
                            <a href="" class="link-icon-circle">
                                <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="py-3 row align-items-center sm-gutters border-bottom">
                        <div class="col">
                            (084) 958 - 3243
                        </div>
                        <div class="col-auto">
                            <a href="" class="link-icon-circle">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-phone"></use>
                                </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}

{% block footer %}

{% endblock %}


{% block popup %}




<div class="modal fade modal-desmond modal-desmond-half" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="font-12">Ủng hộ cho</div>
                    <h4 class="mb-0">Ước mơ của Thúy</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.737 476.737">
                        <path
                            d="M238.369 0C106.726 0 0 106.726 0 238.369c0 131.675 106.726 238.369 238.369 238.369 131.675 0 238.369-106.694 238.369-238.369C476.737 106.726 370.043 0 238.369 0zm110.444 150.395l-88.578 88.61 78.407 87.338c6.198 6.198 6.198 16.304 0 22.47-6.166 6.198-16.273 6.198-22.438 0l-78.407-87.338-87.37 87.338c-6.198 6.198-16.273 6.198-22.47 0-6.198-6.166-6.198-16.273 0-22.47l88.578-88.578-78.376-87.37c-6.198-6.198-6.198-16.273 0-22.47s16.273-6.198 22.47 0l78.407 87.37 87.338-87.37c6.198-6.198 16.273-6.198 22.47 0 6.198 6.197 6.166 16.272-.031 22.47z"
                            fill="#010002" />
                    </svg>

                </button>
            </div>
            <div class="modal-body">

                <div class="row sm-gutters">

                    {% for item in money %}

                    <div class="col-6">

                        <div class="payment-item">
                            <input class="payment-check" type="radio" id="pay{{item.id}}" name="payDonation"
                                value="{{item.id}}" {% if loop.index == 1 %} checked="" {% endif %}>

                            <label for="pay{{item.id}}" class="payment-item-label">
                                <div class="payment-icon-check">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline"
                                        viewBox="0 0 7.764 5.972">
                                        <path id="Icon"
                                            d="M2.9,4.216,6.752.182a.574.574,0,0,1,.839,0,.642.642,0,0,1,0,.878L2.9,5.972.174,3.119a.642.642,0,0,1,0-.878.574.574,0,0,1,.839,0Z"
                                            transform="translate(0 0)" fill="#fff" />
                                    </svg>
                                </div>


                                <span class="payment-item-mo">{{item.value}} ₫</span>
                            </label>
                        </div>
                    </div>

                    {% endfor %}
                </div>

                <form class="mt-1">
                    <div class="form-group form-group-material">
                        <label for="" class="mb-0">Số tiền khác</label>
                        <input type="text" class="form-control form-control-lg " pattern="[0-9]*" inputmode="numeric" id="input-money"
                          placeholder="0">
                        <!-- <small id="emailHelp" class="form-text text-danger">Số tiền không hợp lệ.</small> -->
                    </div>
                    <div class="form-group form-group-material">
                        <label for="" class="mb-0">Lời nhắn của bạn (không bắt buộc)</label>
                        <input type="email" class="form-control form-control-lg" id="" 
                            placeholder="">

                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-lg promotion-footer-btn btn-momo font-weight-bold">Đóng
                    góp ngay</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block modal %}

{% endblock %}


{% block javascript %}

{{ super() }}
<script>
    $(document).ready(function () {


        var fnf = $( "#input-money" );
     
        fnf.on("keyup", function (event) {

            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if (selection !== '') {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                return;
            }


            var $this = $(this);

            // Get the value.
            var input = $this.val();

            var input = input.replace(/[\D\s\._\-]+/g, "");
            input = input ? parseInt(input, 10) : 0;

            $this.val(function () {
                return (input === 0) ? "" : input.toLocaleString("en-US");
            });
        });
    });
</script>

{% endblock %}