{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block header %}



{% endblock %}

{%  block topcontent %}


<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item ">
            <a href="cashback.html" class="btn  promotion-footer-btn text-gray btn-lg btn-link pl-0">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
                </svg> Quay lại
            </a>
        </div>

        <div class="promotion-footer-item flex-fill">

            <a href="" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Mua Ngay
            </a>

        </div>

    </div>

</div>

{% endblock %}


{% block content %}


<div class="container promotion-container">

    <div class="row">
        <div class="embed-responsive embed-responsive-21by9">
            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-600x300-bhd-79k-190425142717.jpg"
                alt="img" class="lazyload img-fluid embed-responsive-img" />
        </div>
    </div>


    <div class="row">
        <div class="col-12">

            <div class="promotion">

                <div class="promotion-type">
                    CÒN 7 NGÀY
                </div>
                <h1 class="h1 promotion-title">
                    Đồng giá cuối tuần: Chỉ 79K/ vé BHD Star cho các mọt phim
                </h1>

                <div class="promotion-range">
                    Từ 27/03/2019 đến 20/05/2019
                </div>


                <div class="promotion-content">

                    <p>
                        Cơ hội hiếm có để các “mọt phim" thoả sức xem phim chiếu rạp cùng hội cạ cứng với vé giá chỉ
                        <strong>79K với MoMo!</strong>
                    </p>

                    <p>
                        Duy nhất từ nay đến hết <strong>10/7/2019</strong>, các MoMoers sẽ có ngay cơ hội Mua vé xem
                        phim cuối tuần chỉ <strong>79.000đ</strong> tại tất cả các rạp BHD Star trên toàn quốc, tha hồ
                        thưởng thức các tựa phim yêu thích của bạn trong mùa bom tấn năm nay.
                    </p>

                    <p>
                        Duy nhất từ nay đến hết <strong>10/7/2019</strong>, các MoMoers sẽ có ngay cơ hội Mua vé xem
                        phim cuối tuần chỉ <strong>79.000đ</strong> tại tất cả các rạp BHD Star trên toàn quốc, tha hồ
                        thưởng thức các tựa phim yêu thích của bạn trong mùa bom tấn năm nay.
                    </p>

                    <p>
                        Duy nhất từ nay đến hết <strong>10/7/2019</strong>, các MoMoers sẽ có ngay cơ hội Mua vé xem
                        phim cuối tuần chỉ <strong>79.000đ</strong> tại tất cả các rạp BHD Star trên toàn quốc, tha hồ
                        thưởng thức các tựa phim yêu thích của bạn trong mùa bom tấn năm nay.
                    </p>
                </div>
            </div>


        </div>
    </div>


</div>


{% endblock %}

{% block footer %}

{% endblock %}


{% block popup %}




{% endblock %}