{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block header %}



{% endblock %}


{%  block topcontent %}

<div class="promotion-footer-container">

    <div class="promotion-footer">
        <div class="promotion-footer-item ">
            <a href="cashback.html" class="btn  promotion-footer-btn text-gray btn-lg btn-link pl-0">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
                </svg> Quay lại
            </a>
        </div>

        <div class="promotion-footer-item flex-fill d-none">

            <a href="promotion-favor-form.html" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Đóng góp
            </a>

        </div>

    </div>

</div>

{% endblock %}



{% block content %}



<div class="container promotion-container">


    <div class="row mt-4">
        <div class="col-12">

            <div class="favor-section ">

                <h4 class="favor-section-title">

                    Các cá nhân đóng góp
                </h4>
                <div class="favor-section-content">

                    <form class="mb-3">

                        <div class="input-group  mb-3">

                            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Username"
                                aria-describedby="basic-addon1">

                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">


                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-search"></use>
                                    </svg>


                                </span>
                            </div>
                        </div>
                    </form>

                    <ul class="favor-people list-unstyled mb-0">
                        {% for item in range(0,5) %}
                        <li class="row no-gutters align-items-center item">

                            <div class="col">
                                <div class="name ">Nguyên Văn B</div>
                                <div class="phone">093556xxx</div>
                            </div>

                            <div class="col-auto">
                                <div class="money ">100.000₫ </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>

                    <div class="mt-3">
                        <a href="" class="btn btn-outline btn-block mt-2">Xem thêm (còn 2421)</a>

                    </div>




                </div>
            </div>

        </div>
    </div>


</div>


{% endblock %}

{% block footer %}

{% endblock %}


{% block popup %}




{% endblock %}