{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}


{%  block topcontent %}
<div class="promotion-footer-container ">

    <div class="promotion-footer sale-footer">
        <div class="promotion-footer-item  ">
            <a href="#" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Mở Website NCT
            </a>
        </div>

        <div class="promotion-footer-item ">

            <a href="#" data-toggle="modal" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Mở ứng dụng NCT
            </a>

        </div>

    </div>

</div>

<!-- Modal -->


{% endblock %}


{% block content %}


<div class="sale-container">
    <div class="container">
        <div class="sale-header">
            <h1 class="sale-title">
                Nhập mã NCTMOMOTET để nhận ngay gói VIP từ Nhaccuatui
            </h1>

            <div class="sale-time">
                Áp dụng từ 04/9/2019 đến 30/9/2019
            </div>
        </div>

        <div class="row">
            <div class="embed-responsive embed-responsive-sale">
                <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
            </div>
        </div>

        <div class="sale-code">
            <div class="sale-code-item">
                <div class="code">
                    Lotte269
                </div>
                <div class="copy copy-button">
                    <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.7368 0H2.10526C0.947368 0 0 0.981818 0 2.18182V17.4545H2.10526V2.18182H14.7368V0ZM17.8947 4.36364H6.31579C5.1579 4.36364 4.21053 5.34545 4.21053 6.54545V21.8182C4.21053 23.0182 5.1579 24 6.31579 24H17.8947C19.0526 24 20 23.0182 20 21.8182V6.54545C20 5.34545 19.0526 4.36364 17.8947 4.36364ZM17.8947 21.8182H6.31579V6.54545H17.8947V21.8182Z"
                            fill="#7C054F" />
                    </svg>

                </div>
            </div>
        </div>


        <div class="sale-cluster">
            <div class="sale-cluster-title">
                Giới thiệu
            </div>

            <div class="sale-cluster-content">
                Nhân dịp tết đến xuân về, NCT ra mắt gói VIP dành riêng cho các thành viên MOMO. Kính chúc xuân sang
                tràn đầy hạnh phúc cùng gia đình thân yêu

            </div>
        </div>

        <div class="sale-cluster">
            <div class="sale-cluster-title">
                Thông tin chương trình

            </div>
            <div class="js-sale-more">
                <div class="sale-cluster-content ">
                    Chương trình áp dụng cho thành viên Vàng từ ngày 10/6 - 30/6/2019 với các tỉ lệ hấp dẫn cho nhiều
                    dịch
                    vụ:

                    <ul class="list-unstyled list-format mt-2">
                        <li>
                            Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

                        </li>
                        <li>
                            <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                            đãi
                            chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                            NCTMOMO để giảm 50% so với giá gốc

                        </li>
                        <li>
                            Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
                        </li>

                        <li>
                            Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

                        </li>
                        <li>
                            <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                            đãi
                            chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                            NCTMOMO để giảm 50% so với giá gốc

                        </li>
                        <li>
                            Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
                        </li>
                    </ul>
                </div>


                <div class="js-sale-more-btn">+ XEM THÊM</div>
            </div>

        </div>

        <div class="sale-cluster">

            <div class="sale-cluster-content">
                Tính năng Hoàn Tiền bản chính thức sẽ xuất hiện trên Ví MoMo của toàn bộ người dùng trong thời gian tới
                với nhiều tính năng mới, hấp dẫn hơn và tiết kiệm hơn!
            </div>
        </div>

        <div class="sale-cluster">
            <div class="sale-cluster-title">
                Trợ giúp

            </div>

            <div class="sale-cluster-content">
                Chương trình áp dụng cho thành viên Vàng từ ngày 10/6 - 30/6/2019 với các tỉ lệ hấp dẫn cho nhiều dịch
                vụ:


            </div>
        </div>
    </div>



</div>


{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}

{% endblock %}



{% block javascript %}
{{ super() }}

<script>


    var copyBtn = Array.from(document.querySelectorAll(".copy-button"));
    copyBtn.forEach(function (e) {
        e.addEventListener("click", function () {
            const text = e.parentElement.querySelector('.code').textContent;

            const textInput = document.createElement("input");
            textInput.value = text.trim();

            document.body.appendChild(textInput);

            textInput.select();
            document.execCommand("Copy");

            alert("Bạn đã copy mã khuyến mãi: " + textInput.value);

        });
    });




    function contentLoadMore(e) {
        const saleMore = e.querySelector('.sale-cluster-content');
        const saleMoreBtn = e.querySelector('.js-sale-more-btn');
        const saleMoreHeight = saleMore.scrollHeight;
        if (saleMoreHeight > 200) {
            e.classList.add("active");

            saleMoreBtn.addEventListener("click", function () {
                saleMore.style.setProperty('max-height', saleMoreHeight + 'px');
                e.classList.remove("active");
            });
        }
    }

    var saleMoreCon = Array.from(document.querySelectorAll('.js-sale-more'));
    saleMoreCon.forEach(function (e) {
        contentLoadMore(e);
    });

</script>

{% endblock %}