{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block header %}



{% endblock %}


{%  block topcontent %}
<div class="promotion-footer-container ">

    <div class="promotion-footer sale-footer">
        <div class="promotion-footer-item  ">
            <a href="#" class="btn btn-block btn-lg promotion-footer-btn btn-momo">
                Xem chi tiết & đổi quà
            </a>
        </div>



    </div>

</div>

<!-- Modal -->


{% endblock %}


{% block content %}


<div class="sale-container">
    <div class="container">
        <div class="sale-header">
            <h1 class="sale-title">
                Vô vàn ưu đãi cực hot trong tháng 8 này. Nhanh tay săn deal thôi các bạn ơi
            </h1>

            <div class="sale-time">
                Áp dụng từ 04/9/2019 đến 30/9/2019
            </div>
        </div>

        <div class="row">
            <div class="embed-responsive embed-responsive-sale">
                <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
            </div>
        </div>


        <div class="sale-cluster mt-3">

            <div class="sale-cluster-content">
                Còn chờ gì nữa, mùa hè săn deal cực đã cùng MoMo thôi nào, với các deal ưu đãi cực hot lên đến 70%
            </div>
        </div>


        <div class="sale-cluster">
            <div class="sale-cluster-title ">
                1. Pizza Inc giảm 30% trên toàn menu
            </div>

            <div class="sale-cluster-content">
                <div class="embed-responsive embed-responsive-sale mb-3">
                    <img src="https://static.mservice.io/Images/2017/03/04/kv-delivery-freesize_4153880.jpg" class="embed-responsive-img " alt="">
                </div>

                Pizza Inc khuyến mãi 20% cho toàn menu nhân dịp hè sôi động, ngoài pizza ra còn có thêm combo đặc biệt
                từ mỳ Ý, Kem bơ sốt dâu tằm chỉ với 39K
            </div>

            <div class="py-3">
                <a href="sale-item-2.html" class="btn btn-more-detail btn-block btn-lg">Xem chi tiết</a>
            </div>
        </div>


        <div class="sale-cluster">
            <div class="sale-cluster-title">
                    2. Cheese Melt từng bừng giảm giá
            </div>

            <div class="sale-cluster-content">
                <div class="embed-responsive embed-responsive-sale mb-3">
                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190607153217-636955183375078714.jpg" class="embed-responsive-img " alt="">
                </div>

                Pizza Inc khuyến mãi 20% cho toàn menu nhân dịp hè sôi động, ngoài pizza ra còn có thêm combo đặc biệt từ mỳ Ý, Kem bơ sốt dâu tằm chỉ với 39K
            </div>

            <div class="py-3">
                    <a href="sale-item-2.html" class="btn btn-more-detail btn-block btn-lg">Xem chi tiết</a>
            </div>
        </div>




    </div>



</div>


{% endblock %}
{% block footer %}



{% endblock %}

{% block modal %}

{% endblock %}

{% block popup %}

{% endblock %}



{% block javascript %}
{{ super() }}

<script>


    var copyBtn = Array.from(document.querySelectorAll(".copy-button"));
    copyBtn.forEach(function (e) {
        e.addEventListener("click", function () {
            const text = e.parentElement.querySelector('.code').textContent;

            const textInput = document.createElement("input");
            textInput.value = text.trim();

            document.body.appendChild(textInput);

            textInput.select();
            document.execCommand("Copy");

            alert("Bạn đã copy mã khuyến mãi: " + textInput.value);

        });
    });




    function contentLoadMore(e) {
        const saleMore = e.querySelector('.sale-cluster-content');
        const saleMoreBtn = e.querySelector('.js-sale-more-btn');
        const saleMoreHeight = saleMore.scrollHeight;
        if (saleMoreHeight > 200) {
            e.classList.add("active");

            saleMoreBtn.addEventListener("click", function () {
                saleMore.style.setProperty('max-height', saleMoreHeight + 'px');
                e.classList.remove("active");
            });
        }
    }

    var saleMoreCon = Array.from(document.querySelectorAll('.js-sale-more'));
    saleMoreCon.forEach(function (e) {
        contentLoadMore(e);
    });

</script>

{% endblock %}