.embed-responsive-slider {
  &::before {
    padding-top: percentage(35/80);
  }
}

.embed-responsive-apd {
  &::before {
    padding-top: percentage(150/290);
  }
}

.embed-responsive-new {
  &::before {
    padding-top: percentage(13/25);
  }
}

.embed-responsive-product {
  &::before {
    padding-top: percentage(244/210);
  }
}


.embed-responsive-sale {
  &::before {
    padding-top: percentage(200/400);
  }
}

.embed-responsive{
  background: gray("200");
}

.embed-responsive-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}
