.form-search{
  position: relative;
  .form-control{
    padding-left: 36px;
    border-color: gray("200");
    color: black;
    background-color: gray("200");
  }
}

.form-search-icon{
  color: gray("500");
  position: absolute;

  font-size: 16px;
  top: 6px;
  left: 11px;
}


.form-group-material{
  margin-bottom: 25px;
  position: relative;
  .form-control{
    border: none;
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    transition: background 0s ease-out;
    background-image: linear-gradient(0deg,color("momo") 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    border-radius: 0;
    background-color: transparent;
    padding: 5px 0;
    line-height: 1.5;
    height: auto;
    @include hover-focus-active(){
      background-size: 100% 100%,100% 100%;
      transition-duration: .3s;
    }
  }

  .form-currency + .form-control{
    padding-right: 20px;
  }
}

.form-currency{
  position: absolute;
  top: 25px;
  right: 0;
  color: gray("700");
}