
.htu-step{
  /*.htu-step-item:n
ot(:last-child){
  margin-bottom: 16px;
}*/
  .htu-step-item{
    margin-bottom: 16px;
  }
}

.htu-step-item{
  border-radius: $border-radius;
  background: lighten(gray("200"), 3%);
  padding: 13px 15px 13px 20px;
  position: relative;
  border-left: 3px solid color("momo2");

  div[aria-expanded="true"]{
    .htu-step-arrow{
      transform: rotate(90deg);
    }
  }
}

.htu-step-sub{
  color: gray("600");
  font-size: 13px;
}

.htu-step-arrow{
  color: gray("600");
  font-size: 13px;
  right: 13px;
  top: 26px;
  position: absolute;
}

.htu-modal{

}

.htu-modal-content{
  width: 100%;

  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}

.htu-slider{
  width: 100%;
  height: 100%;

  .swiper-slide{
    position: relative;
  }

  .swiper-pagination-fraction{
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

}

.htu-modal-close{
  position: absolute;
  width: 34px;
  height: 34px;
  background: rgba(0,0,0,0.6);
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  z-index: 10;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transform: translate3d(0,0,0);
  appearance: none;
  backface-visibility: hidden;
}

.htu-slider-content{
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.ht-mockup{
  background: gray("200");
}

.htu-slider-mockup{
  width: 240px;
  height: 387px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7px 15px 0;



  @include media-breakpoint-ip5(){
    width: 200px;
    height: 324px;
    margin: 0 auto;

    padding: 9px 14px 0;
  }
}

.htu-slider-txt{
  font-size: 16px;

  background: white;

  padding: 30px 20px;

  @include media-breakpoint-ip5(){
    padding: $grid-gutter-width/2;
    font-size: 14px;
  }

}


.htu-slider-title{
}

.htu-slider-body{
  color: gray("600")
}

.popup-button{
  cursor: pointer;
}


.htu-bank{
  display: flex;
  flex-flow: row wrap;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
  justify-content: center;
}

.htu-bank-col{
  flex: 0 0 auto;
  padding: 0 3px;
  text-align: center;
}

.htu-bank-item{
  width: 70px;
  background: white;
  margin: 0 auto 10px;
  border-radius: $border-radius;
  padding: 4px 8px;
  font-size: 11px;
  text-align: center;
  border: 1px solid gray("400");
  img{
    width: 25px;
    margin-bottom: 4px;
  }
}



//Nếu có topbar thì cho padding top
.topbar~ .htu-modal-content {
  padding-top: $topbar-height;
}