.modal-fullscreen {

  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 0 auto;

  }

  .modal-content {

    box-shadow: none;
    border-radius: 0;
    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }

  // When fading in the modal, animate it to slide down
  &.modal.fade .modal-dialog {
    transform: translate(100%, 0);
  }

  &.modal.show .modal-dialog {
    transform: none;
  }
}


.modal-sidebar {
  .modal-dialog {
    max-width: map-get($container-max-widths, 'sm');
  }

  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-content {
    width: 80%;

  }

  .modal-dialog {
    margin: 0 auto;

  }

  .modal-content {

    box-shadow: none;
    border-radius: 0;
    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }

  // When fading in the modal, animate it to slide down
  &.modal.fade .modal-dialog {
    transform: translate(-100%, 0);
  }

  &.modal.show .modal-dialog {
    transform: none;
  }

  &.modal-sidebar-right {
    &.modal.fade .modal-dialog {
      transform: translate(100%, 0);
    }

    &.modal.show .modal-dialog {
      transform: none;
    }

    .modal-content {
      margin-left: auto;
      margin-right: 0;
    }
  }
}





.modal-scroll {
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}









.modal-desmond {
  overflow: hidden  !important;

  position: absolute;


  &.modal-desmond-half {
    .modal-dialog-scrollable .modal-content {
      max-height: calc(75vh - 1rem);
      // height: 400px;
      // min-height: 400px;
      max-height: 400px;
      // height: 100%;
    }
  }

  .modal-dialog-scrollable {
    align-items: flex-end;
  }

  .modal-header {
    padding: 10px 15px;
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  .close {
    svg {
      width: 24px;
      height: 24px;
      opacity: 0.5
    }
  }

  .modal-dialog-scrollable {
    max-height: 100%;
  }

  .modal-dialog-scrollable .modal-content {
    // max-height: calc(100vh - 1rem);
    height: calc(100vh - 1rem);
  }

  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 0 auto;
    transform: translate3d(0, 0, 0) !important;
  }

  .modal-footer {
    padding: 10px 15px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }

  .modal-content {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
  

    transform: translate3d(0, 100%, 0);

    transition-property: transform;
    transition-duration: .3s;

    will-change: transform;

    // background: transparent;
    /* Note: currently only Safari supports backdrop-filter */

    box-shadow: none;
    // border-radius: 0;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    // transform: translate3d(0,0,0);

    border-radius: 8px 8px 0 0;
    overflow: hidden;

    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }


  .modal-body {
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  // When fading in the modal, animate it to slide down

  &.modal.fade .modal-dialog .modal-content {
   
  }


  &.modal.fade.show .modal-dialog .modal-content {
    transform: translate3d(0, 0, 0);
  }


}





.modal-old {

  &.modal-desmond-half {
    .modal-dialog-scrollable .modal-content {
      max-height: calc(70vh - 1rem);
      min-height: 350px;
    }

  }

  .modal-dialog-scrollable {
    align-items: flex-end;
  }

  .modal-header {
    padding: 10px 15px;
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  .close {
    svg {
      width: 24px;
      height: 24px;
      opacity: 0.5
    }
  }

  .modal-dialog-scrollable {
    max-height: 100%;

  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
  }

  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 0 auto;
  }

  .modal-footer {
    padding: 10px 15px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }

  .modal-content {
    background: rgba(255, 255, 255, 0.95);

    // background: transparent;
    /* Note: currently only Safari supports backdrop-filter */

    -webkit-overflow-scrolling: touch;

    box-shadow: none;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }


  .modal-body {}

  // When fading in the modal, animate it to slide down
  &.modal.fade .modal-dialog {
    transform: translate3d(0, 100%, 0);
  }


  &.modal.fade.show .modal-dialog {
    transform: translate3d(0, 0, 0);
  }


}



@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal-desmond .modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

}

.modal-header .close {
  flex: 0;
  padding: 8px 11px 11px;
  opacity: 0.3;
}