.star-block {
  display: inline-block;
  position: relative;
  background-size: 14px 14px;
  height: 14px;
  background-repeat: space no-repeat;
  width: 80px;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23D8D8D8'%3e%3cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3e%3c/svg%3e")
}


.star-block-hide {
  overflow: hidden
}

.star-block-bg {
  overflow: hidden;
  display: block;
  background-size: 14px 14px;
  height: 14px;
  width: 80px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23ffc107'%3e%3cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3e%3c/svg%3e");
  background-repeat: space no-repeat
}

