$white:    #fff ;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
// $gray-800: #1b2244 ;
$gray-800: #424242 ;
$gray-900: #212121 ;
$black:    #000 ;


$blue:    #2196F3 ;
$indigo:  #3F51B5 ;
$purple:  #9C27B0 ;
$pink:    #E91E63 ;
$red:     #F44336 ;
$orange:  #FF9800 ;
$yellow:  #FFEB3B ;
$green:   #4CAF50 ;
$teal:    #009688 ;
$cyan:    #00BCD4 ;


$momo-light: #ffdcea;

$momo3:    #1b2244 ;

$momo:  #ae2070 ;
$momo2:  #e0078c ;


$colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "blue":       $blue,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-800,
                        "momo":  $momo,
                        "momo2":  $momo2,
                        "momo3":  $momo3
                ),
                $colors
);


$primary:       $blue ;
$secondary:     $gray-600 ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $gray-800 ;

$theme-colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark,
                        "momo":       $momo,
                        "momo2":       $momo2
                ),
                $theme-colors
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px
);
$container-max-widths: (
        sm: 600px
) ;

$grid-gutter-width:           32px;

$font-family-sans-serif: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;


$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 ;
$font-size-sm:                $font-size-base * .875 ;



$h1-font-size:                $font-size-base * 1.715 ;
$h2-font-size:                $font-size-base * 1.5 ;
$h3-font-size:                $font-size-base * 1.43 ;
$h4-font-size:                $font-size-base * 1.28 ;
$h5-font-size:                $font-size-base * 1.15 ;
$h6-font-size:                $font-size-base * 1.08 ;


$headings-font-weight:        500;

$headings-font-family:       "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;

$enable-responsive-font-sizes: true;
$rfs-breakpoint: 500;


$border-radius:               5px ;
$border-radius-lg:            5px ;
$border-radius-sm:            .2rem ;


$modal-show-transform:              none ;
$modal-transition:                  transform .25s ease-out ;

$input-btn-border-width:      2px;
$input-btn-focus-box-shadow: none;

$input-focus-border-color:lighten(color("momo"), 30%) ;

$input-border-radius:  4px;


$font-size-lg:                $font-size-base * 1.1;

$border-color:                $gray-200;

$link-hover-decoration:  none;




$modal-transition:                  transform .3s ease-out;


