@import "goodgame/goodgames";

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap&subset=latin-ext,vietnamese');

.font-conden {
  font-family: 'Oswald', sans-serif;
}

.game-container {
  overflow: hidden;
}

.text-metal{
  text-shadow: 1px 1px rgba(0,0,0,0.8), 
  2px 2px rgba(0,0,0,0.8), 
  3px 3px rgba(0,0,0,0.8);
}

.game-container-pattern {
  background-repeat: repeat-x;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: 1280px 740px;
  // background-size: 800px 781px;
  animation: 150s linear 0s infinite spacey;
  pointer-events: none;
  position: absolute;
  will-change: transform;

}


.text-momo-footer {
  color: rgba(255, 255, 255, 0.5)
}

@keyframes spacey {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1280px);
  }
}

.cf-question {
  flex: 1;
  padding: 10px 20px;
}

.cf-footer {
  padding: 10px 20px;
}

.cf-btn-group {
  .nk-btn {
    margin-bottom: 15px;
    position: relative;
    @extend .font-conden;
  }

  .cf-btn-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    filter: brightness(0) invert(1);
  }
}

.cf-hero {}

.cf-hero-image {}

.cf-hero-txt {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
}



.cf-function {
  font-size: 12px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
}







/* Effect 14:  3D Rotate from bottom */
.md-effect-14.confetti-position {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;

}

.md-effect-14 .confetti-container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.md-show.md-effect-14 .confetti-container {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

//Confetti

.confetti-noti-container {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 40px;
}

.md-show .confetti-noti-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.game-container-over {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.confetti-position {
  //   position: fixed;
  //   bottom: 10px;
  //   left: 0;
  //   right: 0;

  // //    max-width: map-get($container-max-widths, 'sm');
  //   margin: 0 auto;
  margin-bottom: 5px;
  z-index: 8;

}

.confetti-container {
  padding: 20px 15px;
  border-radius: 10px;
  background: $color_dark_2;
  color: white;

  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}





.confetti-noti-container {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  // width: 100%;

  .confetti-noti+.confetti-noti {
    margin-left: 15px;
  }
}

$background-default : linear-gradient(90deg, #e64c4c 0%, #ef32fb 100%);
$background-default-light : linear-gradient(90deg, #e64c4c 0%, #ef32fb 100%);

$background-answer : linear-gradient(153deg, #3be2bc 0%, #1b96f1 95%);

.confetti-noti {
  padding: 7px 10px;
  border-radius: 15px;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-image: $background-default;
  color: white;

  &.is-success {
    background-image: $background-answer;
  }

  &.is-wrong {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
  }

}

.confetti-noti-txt {
  white-space: nowrap;
}

.confetti-question {
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
}

.confetti-ans {
  .confetti-ans-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.confetti-ans-item {
  display: block;
  border-radius: 5px;
  padding: 8px 12px;
  background: lighten($color_dark_1, 10%);
  position: relative;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.08);

  &.is-inactive {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-active {
background-image: $background-default-light;


    .confetti-ans-content {

      color: white;
    }

    .confetti-ans-progess {

      // background-image: $background-default-light;
      background: transparent;

    }

    .confetti-ans-content {
      font-weight: bold;
    }
  }

  &.is-correct {
    .confetti-ans-content {

      color: white;
    }

    .confetti-ans-progess {

      background-image: $background-answer
    }

    .confetti-ans-content {
      font-weight: bold;
    }
  }
}

.confetti-ans-progess {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
}

.confetti-ans-total {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7)
}

.confetti-ans-content {
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: bold;
  color: gray("100");
}



$strokeOffset : 82px;

.confetti-coundown {
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;

  &.is-active {
    .confetti-coundown-stroke {
      animation: confettiCountdown 10s linear forwards;
      stroke: white;
    }
  }

  &.is-ending {
    transition-timing-function: ease-in;
    animation: confettiEnding 0.5s linear infinite forwards;
  }
}

#confetti-coundown-number {
  color: white;
  display: inline-block;

  line-height: 30px;
}

.confetti-coundown-svg {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateZ(-90deg);


}


.confetti-coundown-stroke {
  stroke-dashoffset: 0px;
  stroke-dasharray: $strokeOffset;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: rgba(255, 255, 255, 0);
  ;
  fill: none;

}

.confetti-coundown-bg {
  stroke-width: 3px;
  stroke: rgba(255, 255, 255, 0.2);
  fill: none;
}

@keyframes confettiCountdown {
  from {
    stroke-dashoffset: $strokeOffset;
  }

  to {
    stroke-dashoffset: 0px
  }
}


@keyframes confettiEnding {
  from {
    transform: scale(1);
    color: white;
  }

  to {
    color: red;
    transform: scale(1.2);
  }
}

.nk-countdown {
  flex-wrap: nowrap;
  @media (max-width: 414px) {
    .nk-hexagon {
      zoom: 0.9;
      margin: 28px 6px;
    }
  
  }

  @media (max-width: 400px) {
    .nk-hexagon {
      zoom: 0.83;
      margin: 28px 5px;
    }
  }

  @media (max-width: 320px) {
    .nk-hexagon {
      transform: scale(0.8);
      margin: 15px -3px;

    }
  }
}
.modal {
  background: rgba(255, 255, 255, 0.1);
}.nk-modal .modal-body{
  color: white;
}






.confetti-progress{
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  background: $color_dark_2;
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  justify-content: space-around;
}

.confetti-progress-item{
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,0.8);
  font-size: 11px;
  border-radius: 50%;
  background: #565656;
  text-align: center;
  &.is-disable{
    text-indent: -99999px;
    background: #545454;
  }
  &.is-active{
    background: $background-default-light ;
    transform: scale(1.2)
  }
  &.is-wrong{
    background: url("../images/confetti/wrong-circle.svg") no-repeat center;
    background-size: cover;
    text-indent: -99999px;
  }
  &.is-right{
    background: url("../images/confetti/right-circle.svg") no-repeat center;
    background-size: cover;
    text-indent: -99999px;
  }
}





#scene-circles {
	min-width:700px;
	overflow:hidden;
	width:100%;
  margin:0 auto;

  z-index: -1;
  opacity: 0.6;
  pointer-events: none;
}

#scene-circles div {
	position:absolute;
	text-align:center;
	top:0;
	left:0;
	width:100%;
  z-index:0;
  img{
    width: 100%;
  }
}
$toppx : 200px;
#scene-circles #main-circle1 {
	width:700px;
	left:50%;
	margin-left:-350px;
  top: 0 - $toppx;
  
	-webkit-animation: rotate 20s infinite linear;
  -moz-animation: rotate 20s infinite linear;
  -o-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}
#scene-circles #main-circle2{
	width:428px;
	left:50%;
	margin-left:-214px;
	top:136px - $toppx;
	-webkit-animation: rotate2 30s infinite linear;
  -moz-animation: rotate2 30s infinite linear;
  -o-animation: rotate2 30s infinite linear;
  animation: rotate2 30s infinite linear;
}
#scene-circles #main-circle3{
	width:252px;
	left:50%;
	margin-left:-126px;
	top:225px - $toppx;
	-webkit-animation: rotate 10s infinite linear;
  -moz-animation: rotate 10s infinite linear;
  -o-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
}
#scene-circles #main-circle-center{
	width:300px;
	left:50%;
	margin-left:-150px;
	top:200px - $toppx;
	-webkit-animation: rotate2 30s infinite linear;
  -moz-animation: rotate2 30s infinite linear;
  -o-animation: rotate2 30s infinite linear;
  animation: rotate2 30s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-o-keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}



.cf-date{
  display: inline-block;
  padding: 3px 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
}

.cf-input{
  font-size: 16px;
  @extend .font-conden;
  font-weight: bold;
  color : white;
  border-color: rgba(255,255,255,0.6);
  border-radius: 3px;
  letter-spacing: 1px;
  &::placeholder{
    font-weight: normal;
    color: white;
    opacity: 0.7;
  }
}