












body,
html {
  font-size: 14px;
}

.normal-scroll {
  overflow: visible;
  height: auto;
  body {
    height: auto;
    overflow: visible;
    position: relative;
  }

  .wrapper {
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
  }

  .page-view {
    position: relative;
    height: auto;
    overflow: visible;
  }

  .page {
    width: 100%;
    height: auto;
    transform: none;
  }

  .page-content {
    overflow: visible;
  }

  .promotion-footer-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.modal-open {
  .page-content {
    overflow: hidden !important;
  }
}



body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  background: white;
}


body {
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden
}

.page-view {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background-color: white;
}

.page-content {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}


.sm-gutters.row {
  margin-right: -5px;
  margin-left: -5px;

  >.col,
  >[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}


.img-object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



//Nếu có topbar thì cho padding top
.topbar~.page .page-content {
  padding-top: $topbar-height;
}

.promotion-footer-container+.page-content {
  padding-bottom: 65px;
}

.tabbar-container~.page .page-content {
  padding-bottom: 51px;
}

.link-absolute {
  position: absolute;
  background: transparent;

  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.col {
  min-width: 0;
}

.link-icon-circle {
  display: block;
  width: 34px;
  height: 34px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: $momo2;
  border-radius: 50%;
}

// Credit: https://github.com/suitcss/base/
input:focus, button:focus {
  outline: none;
}
