body, html{
    font-size: 14px;
}




.font-heading{
    font-family:  "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.font-body{
    font-family:  "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.lh-reset{
    line-height: 1.5;
}