@mixin text-row($num, $height) {
  max-height: $height * 1px;
  overflow: hidden ;
  text-overflow: ellipsis ;
  display: -webkit-box;
  -webkit-line-clamp: $num ;
  -webkit-box-orient: vertical ;
}


@mixin font-rem($pxValue, $standard-size: 14) {
  font-size: $pxValue + px;
  font-size: $pxValue/$standard-size + rem;
}

@mixin color-opacity( $opacity : 1, $color : white) {
  @if $color == black {
    color: rgba(0,0,0,$opacity);
  }
  @else {
    color: rgba(255,255,255,$opacity);
  }
}

@mixin media-breakpoint-ip5() {
  @media (max-width: 320px) {
    @content
  }
}
