{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">


    <link rel="stylesheet" href="stylesheets/core.css">
</head>


<body class="ios ">

    <div class="wrapper">

        <div class="dialog-backdrop "> <!-- backdrop-active -->
            <div class="dialog dialog-no-buttons dialog-preloader modal-in" style="display: block;">
                <div class="dialog-inner">
                    <div class="dialog-title">Loading... </div>

                    <div class="preloader"><span class="preloader-inner">
                            <span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span><span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span><span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span><span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span><span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span><span class="preloader-inner-line"></span><span
                                class="preloader-inner-line"></span>
                        </span></div>
                </div>
            </div>
        </div>
        <div class="page-view">

            <div class="page-loading">
                <div class="bouncing-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>





            {% block header %}


            {% include "layouts/header.html" %}

            {% endblock %}
            <div class="page">

                {%  block topcontent %}


                {% endblock %}
                <div class="page-content">


                    {% block content %}


                    {% endblock %}


                    {% block footer %}



                    {% include "layouts/footer.html" %}
                    {% endblock %}
                </div>
            </div>
            {% block modal %}
            {% include "layouts/modal.html" %}

            {% endblock %}
        </div>



        {% block popup %}

        {% endblock %}

    </div>

    {% block javascript %}



    <!-- <script type='application/javascript' src='js/fastclick.js'></script>
    <script>
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function () {
                FastClick.attach(document.body);
            }, false);
        }
    </script> -->

    <script src="js/jquery-3.3.2.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="javascripts/app.js"></script>

    <script src="js/swiper.min.js"></script>
    <script src="js/lazysizes.min.js" async></script>

    <script src="js/jquery.magnific-popup.min.js"></script>

    <script src="js/sweetalert.min.js"></script>

    <script src="js/custom.js"></script>


    {% endblock %}

</body>

</html>