<div class="footer ">
    <div class="newsletter">
        <div class="container">

            <div class="row no-gutters align-items-center">

                <div class="col">
                    <h5 class="mb-1 text-danger">
                        Nhận tin tức từ Ví MoMo !</h5>
                    <div class="text-secondary font-13">Đừng bỏ lỡ những chương trình khuyến mãi
                        cùng quà tặng hấp dẫn từ Ví MoMo
                    </div>

                </div>

                <div class="col-auto">
                    <div class="mt-2">
                        <a href="" class="btn  btn-outline-danger  ml-1">
                            <img src="images/newsletter/newsletter-icon.png" width="16" class="mr-1" alt="">

                            Đăng ký</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container text-center d-none">
        <div class="decoration mb-2"></div>

        <ul class="list-inline socials-list mb-0">
            <li class="list-inline-item">
                <a href="" class="facebook">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-facebook"></use>
                    </svg>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="" class="linkedin">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-linkedin"></use>
                    </svg>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="" class="youtube">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-youtube"></use>
                    </svg>
                </a>
            </li>


        </ul>


        <div class=" pb-2 font-12 text-center text-gray">
            ©Copyright M_Service 2018
        </div>

    </div>
</div>

