

<div class="modal fade modal-slot-machine" id="modal-luckydraw-dangky" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">
                    Thông tin
                </h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light ">

                <form>
                    <div class="form-group">
                        <label for="">Họ tên</label>
                        <input type="text" class="form-control form-control-sm" id="" aria-describedby="emailHelp"
                            placeholder="">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="">Số điện thoại</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="">Địa chỉ email</label>
                        <input type="email" class="form-control form-control-sm" id="" placeholder="example@gmail.com">
                    </div>

                </form>


            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-primary btn-slot-submit" data-dismiss="modal" type="button">
                    Xác nhận đăng ký tham gia
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg2 modal-slot-machine"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">
                    Hướng Dẫn
                </h5>

            </div>
            <div class="modal-body p-0 bg-light">

                <div class="row no-gutters">


                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Đóng</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg modal-slot-machine"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">
                    QUÀ TẶNG
                </h5>

            </div>
            <div class="modal-body">
                <div class="text-center col-8 offset-2 award-area-title">
                    Danh sách quà có thể trúng
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Đóng</button>
            </div>
        </div>

    </div>
</div>



<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg3 modal-slot-machine"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">
                    THÊM LƯỢT
                </h5>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Đóng</button>
            </div>
        </div>
    </div>
</div>



<div aria-hidden="true" class="onboarding-modal modal fade animated modal-slot-machine" id="onboardingTextModal"
    role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">


            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="win-lable-title">
                    Thông tin chương trình
                </h5>

            </div>
            <div class="onboarding-media">
                @*<h1>@Model.Award.Name</h1>*@
            </div>
            <div class="modal-body p-0">

                <div class="onboarding-content with-gradient">


                    <div class="onboarding-title h5" id="win-title">

                    </div>

                    <div>
                        <button class=" mt-2 btn btn-primary btn-lg" style="background: #fed211;"
                            onclick="ConfirmResult()" type="button">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="onboarding-modal modal fade animated modal-slot-machine" id="alertTextModal"
    role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">
                    Chúc Mừng Bạn
                </h5>
            </div>
            <div class="modal-body p-0 bg-light">
                <div class="onboarding-content with-gradient">
                    <div class="onboarding-title h6">
                        Bạn vừa nhận được 1 quà tặng
                    </div>
                    <div class="onboarding-title h5" id="alert-title">
                        1 Thẻ Quà Tặng 50K
                    </div>
                    <img id="img-award"
                        src="https://static.mservice.io/blogscontents/momo-upload-api-voucher-181226150854.png" />
                    <div>
                        <button class=" mt-2 btn btn-primary btn-lg" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="onboarding-modal modal fade animated modal-slot-machine" id="alertLoseModal"
    role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">

            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">

                    Thật Tiếc!
                </h5>

            </div>
            <div class="modal-body p-0 bg-light">

                <div class="onboarding-content with-gradient">

                    <div class="onboarding-title h5" id="alert-title">
                        Chúc bạn may mắn lần sau
                    </div>

                    <div>
                        <button class=" mt-2 btn btn-primary btn-lg" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div aria-hidden="true" class="onboarding-modal modal fade animated modal-slot-machine" id="alertTextModal" role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
         
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">
                    Chúc Mừng Bạn
                </h5>

            </div>
            <div class="modal-body p-0 bg-light">

                <div class="onboarding-content with-gradient">

                    <div class="onboarding-title h6" id="alert-title">
                        Bạn vừa nhận được 1 quà tặng
                    </div>
                    <div class="onboarding-title h5" id="award-title">
                        1 Voucher
                    </div>
                    <img id="award-win" src="https://static.mservice.io/blogscontents/momo-upload-api-shopping-181227143328.png" />
                    <div>
                        <button class=" mt-2 btn btn-primary btn-lg" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div aria-hidden="true" class="onboarding-modal modal fade animated modal-slot-machine" id="alertLoseModal" role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
      
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">
          
                    Thật Tiếc!
                </h5>

            </div>
            <div class="modal-body p-0 bg-light">

                <div class="onboarding-content with-gradient">

                    <div class="onboarding-title h6" id="alert-title">
                        Chúc bạn may mắn lần sau
                    </div>
                 
                    <div>
                        <button class=" mt-2 btn btn-primary btn-lg" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>