<!-- <div class="topbar ">

    <div class="topbar-left topbar-item">

        <a href="" class="topbar-icon"  data-toggle="modal" data-target="#modal-sidebar-box">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-bars"></use>
            </svg>
        </a>



    </div>
    <div class="topbar-center topbar-item">
        <a href="index.html#" class="topbar-center-txt">
            <img src="images/momo-logo-mobile-txt.png" width="172" alt="">
        </a>
    </div>
    <div class="topbar-right topbar-item">

        <a href="" class="topbar-icon" data-toggle="modal" data-target="#modal-search-box">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-search"></use>
            </svg>
        </a>

    </div>


</div>
 -->



<div class="tabbar-container">
    <ul class="tabbar list-unstyled mb-0">
        <li class="tabbar-item">
          <a href="" class="tabbar-link">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
            </svg>
          </a>

        </li>

        <li class="tabbar-item">
            <a href="" class="tabbar-link">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
            </svg>

          </a>
        </li>

        <li class="tabbar-item tabbar-search">
            <a href="#modal-search-box" data-toggle="modal" class="tabbar-link">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-search"></use>
            </svg>

          </a>
        </li>

        <li class="tabbar-item">
            <a href="#modal-search-box" data-toggle="modal" class="tabbar-link" >
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-home"></use>
            </svg>

          </a>
        </li>

        <li class="tabbar-item">
            <a href="#modal-sidebar-box" data-toggle="modal" class="tabbar-link">
            <svg class="svg-inline svg  ">
                <use xlink:href="svg/svg.svg#svg-bars"></use>
            </svg>
           </a>

        </li>
    </ul>
</div>