<div class="modal modal-sidebar fade " id="modal-sidebar-box" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="sidebar modal-scroll ">
                <div class="topbar  position-sticky">


                    <div class="topbar-center topbar-item">
                        <a href="index.html#" class="topbar-center-txt text-left">
                            <img src="images/momo-logo-mobile-txt.png" width="172" alt="">
                        </a>
                    </div>
                    <div class="topbar-right topbar-item">

                        <a href="" class="topbar-icon" data-dismiss="modal">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-cancel"></use>
                            </svg>
                        </a>

                    </div>


                </div>


                <div class="sidebar-content ">

                    <div class="sidebar-section pt-0 pb-0">
                        <div class="sidebar-section-title">
                            GAME ĐÃ CHƠI
                        </div>


                        <div class="htu-step">

                            <div class="htu-step-item px-3 py-2 border-0 ">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <img src="images/game/game-avatar.png" width="50" class="rounded d-block mr-3"
                                            alt="">
                                    </div>
                                    <div class="col">

                                        <h6 class="htu-step-title mb-0">Quay số may mắn
                                        </h6>
                                        <div class="htu-step-sub font-11">Đã chơi 20 phút</div>

                                        <div class="game-sidebar-score font-13 mt-1 align-middle">
                                            <img class=" align-middle mr-1" src="images/game/favourites.svg" width="13"
                                                alt="">

                                            <span class=" align-middle">205 điểm</span>
                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>
                    <div class="decoration my-0"></div>

                    <div class="cluster mb-2">

                        {% for name, item in navigation %}
                        <div class="cluster-item ">
                            <a href="{{name}}" class="link-absolute"></a>
                            <div class="cluster-item-icon">
                                <img src="images/home/{{item.icon}}" width="30" class=" center-block" alt="">
                            </div>

                            <div class="cluster-item-arrow">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                </svg>
                            </div>

                            <div class="cluster-item-content">
                                {{item.name}}
                            </div>


                        </div>

                        {% endfor %}




                    </div>

                    <div class="decoration my-0"></div>


                    <div class="sidebar-section">


                        <div class="sidebar-section-title">
                            HỖ TRỢ
                        </div>

                        <ul class="list-unstyled mb-0">
                            <li class="mb-2">
                                Hot line : <a href="tel: 1900 5454 41" class="font-weight-bold h4">1900 54 54</a>
                            </li>

                            <li class="mb-2">
                                Tổng đài gọi ra : <a href="tel:028.7306.5555">028.7306.5555</a>
                            </li>

                            <li class="mb-2">
                                Chăm sóc khách hàng :

                                <a class="" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>

                            </li>

                        </ul>


                    </div>

                    <div class="decoration my-0"></div>

                    <div class="sidebar-section">


                        <div class="sidebar-section-title">
                            ỨNG DỤNG
                        </div>

                        <div class="mb-2">
                            Tải ứng dụng ví Momo
                        </div>

                        <div class="row no-gutters ">
                            <div class="col-6">
                                <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank">
                                    <img src="https://static.mservice.io/img/tai-appstore.png" width="130"
                                        class="img-fluid" alt="">
                                </a>

                            </div>
                            <div class="col-6">

                                <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank">
                                    <img src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                        class="img-fluid" alt="">
                                </a>
                            </div>


                        </div>


                    </div>


                    <div class="decoration my-0"></div>

                    <div class="sidebar-section">


                        <div class="sidebar-section-title">
                            KẾT NỐI
                        </div>


                        <ul class="list-inline socials-list mb-0">
                            <li class="list-inline-item">
                                <a href="" class="facebook">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-facebook"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="" class="linkedin">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-linkedin"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="" class="youtube">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-youtube"></use>
                                    </svg>
                                </a>
                            </li>


                        </ul>


                    </div>

                    <div class="decoration my-0"></div>

                    <div class="sidebar-section mb-0">


                        <div class="text-capitalize mb-2 font-13 font-weight-bold">
                            Công ty cổ phần dịch vụ
                            di động trực tuyến (Viết tắt M_SERVICE)
                        </div>

                        <div class="font-12 text-secondary">
                            Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú,
                            Q.7, Tp. Hồ Chí Minh
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>


<div class="modal modal-sidebar modal-sidebar-right fade " id="modal-search-box" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="sidebar modal-scroll ">
                <div class="topbar  position-sticky">


                    <div class="topbar-center text-left topbar-item topbar-center-txt font-weight-bold pl-4">
                        Tìm kiếm
                    </div>

                    <div class="topbar-right topbar-item">

                        <a href="" class="topbar-icon" data-dismiss="modal">
                            <svg class="svg-inline svg  ">
                                <use xlink:href="svg/svg.svg#svg-cancel"></use>
                            </svg>
                        </a>

                    </div>


                </div>


                <div class="sidebar-content ">

                    <form>


                        <div class="form-search">
                            <div class="form-search-icon">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-search"></use>
                                </svg>
                            </div>

                            <input class="form-control" placeholder="Bạn muốn tìm gì" type="text">
                        </div>
                    </form>


                    <div class="sidebar-section pb-0">


                        <div class="sidebar-section-cat">
                            Tin tức

                            <span class="total">
                                24 tin mới
                            </span>
                        </div>


                        <div class="cluster mb-0">
                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Mua vé Lotte Cinema 1000Đ bằng Ví MoMo, gia hạn đến 10/9/2019
                                </div>


                            </div>

                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Hoàn tiền 1% dành cho khách hàng mới khi thanh toán vay tiêu dùng qua Ví MoMo
                                </div>

                            </div>


                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Tường thuật toàn cảnh chương trình “Lễ Trao Giải Lắc Xì Ví MoMo”
                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="sidebar-section pb-0">


                        <div class="sidebar-section-cat">
                            Hỏi đáp

                            <span class="total">
                                15 câu hỏi
                            </span>
                        </div>


                        <div class="cluster mb-0">
                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Cách mua mã thẻ game trực tuyến
                                </div>


                            </div>

                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Có thể mua vé xem phim tại các rạp nào?
                                </div>

                            </div>


                            <div class="cluster-item ">

                                <div class="cluster-item-arrow">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-chevron-right"></use>
                                    </svg>
                                </div>

                                <div class="cluster-item-content font-13">
                                    Có thể mua mã thẻ di động của những nhà mạng nào?
                                </div>

                            </div>

                        </div>


                    </div>

                </div>


            </div>


        </div>
    </div>
</div>




<div class="modal htu-modal modal-fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">


            <div class="htu-modal-close " data-dismiss="modal" id="dwd">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
                </svg>
            </div>


            <div class="htu-modal-content">


                <div class="swiper-container htu-slider">
                    <div class="swiper-wrapper">

                        {% for item in htuContent %}
                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">
                                    <div class="htu-slider-mockup"
                                        style="background-image: url('images/htu/phone-mockup.png')">
                                        <img data-src="{{item.image}}" class="img-fluid d-block mx-auto swiper-lazy"
                                            alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title">{{item.title}}</h3>
                                        <div class="htu-slider-body">
                                            {{item.content}}
                                        </div>

                                        <div class="mt-3  font-italic">
                                            {{item.note}}
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        {% endfor %}

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                </div>


            </div>


        </div>
    </div>
</div>

