
// default buttons
.nk-btn {
    display: inline-block;
    padding: 9px 19px;
    font-family: $font_headings;
    font-size: .87rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 0;
    transition: .15s all;

    &,
    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus {
        color: #fff;
        text-decoration: none;
    }

    // outline fix
    &.nk-btn-outline {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

// sizes
.nk-btn-xs {
    padding: 6px 15px;
    font-size: .8rem;

    // outline fix
    &.nk-btn-outline {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.nk-btn-sm {
    padding: 7px 17px;

    // outline fix
    &.nk-btn-outline {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.nk-btn-lg {
    padding: 12px 22px;

    // outline fix
    &.nk-btn-outline {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}
.nk-btn-x2 {
    padding: 12px 25px;
    font-size: 1.1rem;

    // outline fix
    &.nk-btn-outline {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}
.nk-btn-x3 {
    padding: 12px 30px;
    font-size: 1.2rem;

    // outline fix
    &.nk-btn-outline {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}
.nk-btn-x4 {
    padding: 20px 45px;
    font-size: 1.2rem;

    // outline fix
    &.nk-btn-outline {
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

// colors
@each $name, $color in $colors {
    .nk-btn-color-#{$name} {
        background-color: $color;
        border-color: darken($color, 12%);
        border-style: solid;

        @if $name == "white" {
            &,
            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus {
                color: $color_dark_1;
            }
        }

        &:hover,
        &.hover {
            @if (color_luminance($color) > .5) {
                background-color: darken($color, 12%);
                border-color: darken($color, 18%);
            } @else {
                background-color: lighten($color, 8%);
                border-color: lighten($color, 15%);
            }
        }
        &:active,
        &.active {
            @if (color_luminance($color) > .5) {
                background-color: darken($color, 15%);
                border-color: darken($color, 22%);
            } @else {
                background-color: lighten($color, 15%);
                border-color: lighten($color, 22%);
            }
        }

        &.nk-btn-outline {
            color: $color;

            &:hover,
            &.hover {
                color: darken($color, 10%);
            }
            &:active,
            &.active {
                color: darken($color, 20%);
            }
        }
    }
}

// hover colors
@each $name, $color in $colors {
    .nk-btn-hover-color-#{$name} {
        @if $name == "white" {
            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus {
                color: $color_dark_1;
            }
        } @else {
            // fix for white button text color
            &.nk-btn-color-white {
                &:hover,
                &.hover,
                &:active,
                &.active {
                    color: #fff;
                }
            }
        }

        &:hover,
        &.hover {
            background-color: $color;
            border-color: darken($color, 12%);
        }
        &:active,
        &.active {
            background-color: darken($color, 6%);
            border-color: darken($color, 18%);
        }

        &.nk-btn-outline {
            &:hover,
            &.hover {
                color: darken($color, 10%);
            }
            &:active,
            &.active {
                color: darken($color, 20%);
            }
        }
    }
}

// outline
.nk-btn-outline {
    border-width: 1px;

    &,
    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus {
        color: inherit;
        background-color: transparent;
    }
}

// rounded
.nk-btn-rounded {
    border-radius: 4px;
}

// block
.nk-btn-block {
    display: block;
    width: 100%;
}


// icons
.nk-btn > .icon {
    margin-right: 3px;
}
.nk-btn > span + .icon {
    margin-right: 0;
    margin-left: 3px;
}
