.nk-modal {
    .modal-content {
        background-color: $color_dark_1;
        border: none;
        border-radius: 0;
    }
    .modal-body {
        padding: 38px;
    }

    .modal-sm {
        max-width: 470px;
    }

    .close {
        position: absolute;
        top: 38px;
        right: 38px;
        margin-top: 0;
        font-size: 1.7rem;
        color: inherit;
        text-shadow: none;
        transition: .2s color;
        z-index: 2;

        &:hover {
            color: #fff;
        }
    }

    @media #{$media_larger_xs} {
        .modal-dialog {
            // margin-top: 190px;
            // margin-bottom: 60px;
        }
    }
}
