
.nk-decorated-h,
.nk-decorated-h-2 {
    display: flex;

    > span,
    > a {
        display: block;
        flex: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }
    &::before {
        flex: 20px;
        width: 20px;
        min-width: 20px;
    }
}
.nk-decorated-h-2 {
    &::after,
    &::before {
        border-bottom-color: $color_dark_3;
    }
}
.nk-decorated-h-3 {
    display: flex;

    > span,
    > a {
        display: block;
        flex: auto;
        padding-right: 20px;
    }

    &::after {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid $color_main_1;
        transform: translateY(-4px);
    }
}

/* Title */
.nk-title {
    position: relative;
    z-index: 1;
}

/* Sub Title */
.nk-sub-title {
    position: relative;
    font-family: $font_body;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    color: $color_main_1;
    z-index: 1;

    .nk-title + & {
        margin-top: 1rem;
    }
}

/* Back title */
.nk-title-back {
    margin-bottom: 0;
    font-size: 6rem;
    color: inherit;
    opacity: .1;

    + * {
        position: relative;
        margin-top: -40px;
    }

    + .nk-sub-title {
        margin-top: -50px;
    }
}

/* Title Separator */
.nk-title-sep {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;

    &::after {
        content: "";
        display: inline-block;
        width: 80%;
        max-width: 80px;
        vertical-align: middle;
        border-bottom: 1px dotted;
        opacity: .4;
    }
}
.nk-title-sep-icon {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;

    .icon {
        font-size: 1.9rem;
        vertical-align: middle;
    }

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 60px;
        vertical-align: middle;
        border-bottom: 1px dotted;
        opacity: .4;
    }
    &::before {
        margin-right: 20px;
    }
    &::after {
        margin-left: 20px;
    }
}

/* mega menu titles */
.nk-mega-item > .dropdown > ul li > label {
    font-family: $font_headings;
}
