// main colors
$color_main_1: #3C56C8 !default;
$color_main_2: #e2361f !default;
$color_main_3: #38a220 !default;
$color_main_4: #22a2b1 !default;
$color_main_5: #1464d2 !default;
$color_main_6: #ef9e2b !default;

$color_text: #7f8b92 !default;
$color_headings: #fff !default;

// bootstrap colors
$color_primary: #0275d8 !default;
$color_success: #38a220 !default;
$color_info: #22a2b1 !default;
$color_warning: #fa6400 !default;
$color_danger: #e2361f !default;

// dark colors
$color_dark_1: darken($color_main_1, 30%)!default;
$color_dark_2: #070b36 !default;
$color_dark_3: lighten($color_dark_2, 3%) !default;
$color_dark_4: lighten($color_dark_1, 20%) !default;

// gray colors
$color_gray_1: #fafafa !default;
$color_gray_2: darken($color_gray_1, 1%) !default;
$color_gray_3: darken($color_gray_1, 2%) !default;
$color_gray_4: darken($color_gray_1, 3%) !default;


// Social colors
$colors_social: (
    "rss": #e06618,
    "behance": #487cfb,
    "bitbucket": #36517e,
    "dropbox": #4d86d9,
    "dribbble": #ea4c89,
    "deviantart": #4a5d4e,
    "facebook": #3b5998,
    "flickr": #f40083,
    "foursquare": #fc4575,
    "github": #464646,
    "google-plus": #df4a32,
    "instagram": #527198,
    "linkedin": #007bb6,
    "medium": #71c66d,
    "odnoklassniki": #d8732a,
    "paypal": #1d3283,
    "pinterest": #cb2027,
    "reddit": #ff5700,
    "skype": #00aff0,
    "soundcloud": #f50,
    "slack": #543b56,
    "steam": #272425,
    "snapchat": #fffc00,
    "swarm": #ffb000,
    "stumbleupon": #eb4924,
    "spotify": #1ed760,
    "tumblr": #2c4762,
    "twitch": #5c43a1,
    "twitter": #00b6f1,
    "vimeo": #45bbff,
    "vk": #657da0,
    "wordpress": #4072a1,
    "youtube": #f00
) !default;

// main colors list
$colors: (
    "main-1"  : $color_main_1,
    "main-2"  : $color_main_2,
    "main-3"  : $color_main_3,
    "main-4"  : $color_main_4,
    "main-5"  : $color_main_5,
    "main-6"  : $color_main_6,
    "primary" : $color_primary,
    "success" : $color_success,
    "info"    : $color_info,
    "warning" : $color_warning,
    "danger"  : $color_danger,
    "white"   : #fff,
    "black"   : #000,
    "dark-1"  : $color_dark_1,
    "dark-2"  : $color_dark_2,
    "dark-3"  : $color_dark_3,
    "dark-4"  : $color_dark_4,
    "facebook"  : map-get($colors_social , "facebook" )
) !default;


// audio player
$audio_player_height: 62px !default;
$audio_player_playlist_height: 250px !default;
$audio_player_mobile_height: 170px !default;

// fonts
$font_headings: "Roboto", sans-serif !default;
$font_body: "Roboto", sans-serif !default;
$html_font_size: 13px !default;
$body_line_height: 1.6 !default;

// media variables
$media_xxs:           "(max-width: 575px)" !default;
$media_xs:            "(max-width: 767px)" !default;
$media_sm:            "(min-width: 767px) and (max-width: 991px)" !default;
$media_md:            "(min-width: 992px) and (max-width: 1199px)" !default;
$media_lg:            "(min-width: 1200)" !default;

// additional variables
$media_smaller_xs:    "(max-width: 767px)" !default;
$media_smaller_sm:    "(max-width: 991px)" !default;
$media_smaller_md:    "(max-width: 1199px)" !default;
$media_larger_xs:     "(min-width: 576px)" !default;
$media_larger_sm:     "(min-width: 768px)" !default;
$media_larger_md:     "(min-width: 992px)" !default;
$media_larger_lg:     "(min-width: 1200px)" !default;
